<!-- Name Modal -->
{% include 'partials/user_profile/sidebar_left/profile_card/modals/name_modal.html' %}

<!-- Email modal -->
{% include 'partials/user_profile/sidebar_left/profile_card/modals/email_modal.html' %}

<!-- Description modal -->
{% include 'partials/user_profile/sidebar_left/profile_card/modals/description_modal.html' %}

<!-- Upload photo modal -->
{% include 'partials/user_profile/sidebar_left/profile_card/modals/upload_photo_modal.html' %}

<!-- Telegram modal -->
{% include 'partials/user_profile/sidebar_left/profile_card/modals/telegram_modal.html' %}

<!-- Calendar Privacy modal -->
{% include 'partials/user_profile/sidebar_left/profile_card/modals/calendar_privacy_modal.html' %}