.exact_date {
  display: flex;
}

#dates {
  text-align: center;
}

.agenda_filter_grid {
  grid-area: header;
}

.agenda_grid {
   display: grid;
   grid-template-areas:
      "header filter"
      "sidebar sidebar";
   grid-template-columns: 5fr 2fr;
   grid-gap: 0 1.25em;
}

.category_filter {
  grid-area: filter;
}

.event_line {
  width: 80%;
  margin-left: 2em;
  margin-bottom: 0.5em;
  border: 1px solid black;
  padding: 0.2em;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1em 1fr;
  grid-gap: 0.6em;
}

.event_line[data-value="hidden"],
.wrapper[data-value="hidden"]
{
  display: none;
}

.event_line[data-value="visible"]
{
  display: grid;
}

.wrapper[data-value="visible"]
{
  display: block;
}

.duration {
  font-size: small;
}

.event-title {
  text-decoration: none;
}

/** Event availability */
.busy {
  background-color: rgb(96, 155, 235)
}

.free {
  background-color: rgba(241, 243, 244, 0.74)
}
