body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#day-view {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
  overflow-y: hidden;
}

#top-tab {
  background-color: var(--primary);
}

.schedule {
  display: grid;
  grid-template-rows: 1;
  flex: 1;
  margin-top: var(--space_xs);
  margin-bottom: var(--space_xs);
  line-height: 1;
  overflow-y: scroll;
}

.schedule::-webkit-scrollbar {
  display: none;
}

.times {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(25, minmax(2rem, 1fr));
}

.baselines {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.event-grid {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(100, 1fr);
}

.hour-block {
  display: flex;
  align-items: center;
}

.hour-mark {
  z-index: 60;
  line-height: 1;
}

.hour-block:last-child .hour-mark {
  visibility: hidden;
}

.hour-bar {
  flex: 1;
  z-index: 40;
}

.event {
  font-size: var(--text_m);
  padding: 0;
  z-index: 50;
  text-align: center;
}

.event:hover {
  border-top: 1px dashed var(--surface);
  border-bottom: 1px dashed var(--surface);
  transition: 0.3;
}

.event-details {
  flex: 1;
}

.total-time {
  font-size: var(--text_s);
}

.title-size-small {
  font-size: var(--text_m);
}

.title-size-xsmall {
  font-size: var(--text_s);
}

.title-size-tiny {
  font-size: var(--text_xs);
  line-height: 1;
}

.action-icon {
  visibility: hidden;
}

.action-container {
  z-index: 70;
}

.event:hover .action-container .action-icon {
  visibility: visible;
}

.week-view-title {
  font-size: var(--text_xxl);
}

.zodiac-sign {
    position: absolute;
    right: 1.2rem;
    top: 2.6rem;
    padding-right: var(--space_xs);
    padding-left: var(--space_xs);
    padding-bottom: var(--space_xxs);
    border: solid 0.1px var(--primary);
    background-color: var(--surface-variant);
    border-radius: 50px;
    box-shadow: 1px 1px 2px #999;
    line-height: 1;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-btn {
  text-align: center;
  color: #fff;
  background-color:var(--primary);
  border-radius: 0.75rem;
  border: none;
  width: 3rem;
  height: 3rem;
  line-height: 1;
  font-size: var(--text_xl);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
}

.plus_image {
  width: 3rem;
  height: 3rem;
}

.pb-1 {
  width: 1.2rem;
  height: 1.2rem;
}


.todo-style {
	background: #F7F7F7;
}

#table {
    max-width: 31.25em;
}

.open-button {
    background-color: var(--primary);
    color: #fff;
    margin-top: 0.75em;
    font-size: 1.25em;
    padding: 0.875em;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.open-button:hover {
  background-color: #ccddff;
  color: #00001a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.todo-style h1 {
    color: #fff;
    text-align: center;
}

.todo-style input[type="text"],
.todo-style input[type="date"],
.todo-style input[type="time"],
.todo-style textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
}

.todo-style input[type="text"]:focus,
.todo-style input[type="date"]:focus,
.todo-style input[type="time"]:focus,
.todo-style textarea:focus {
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.todo-style th, .todo-style td {
  padding-right: 3em;
  padding-top: 2em;
  text-align: left;
}

.todo-style button {
    border-radius: 20px;
    padding: 2%;
    text-align: right;
    background-color: #80bfff;
}


.edit {
  text-decoration: none;
  background-color: #eafaf6;
   border-style: solid;
   border-color: #004d99;
   border-radius: 10px;
}

.todo-style button:hover {
    background-color: var(--primary);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}