
:root {
  --primary: #30465D;
  --primary-variant: #FFDE4D;
  --secondary: #EF5454;
  --borders: #E7E7E7;
  --borders-variant: #F7F7F7;
}

html {
  font-family: 'Assistant', sans-serif;
  text-align: center;
}

#toptab {
  background-color: var(--primary);
}

.schedule {
  display: grid;
  grid-template-rows: 1;
}

.times {
  margin-top: 0.65em;
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 40;
}

.baselines {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 38;
}

.eventgrid {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(100, 0.375rem);
  z-index: 39;
}

.hourbar {
  margin-top: -1px;
}

.event {
    font-size: 1.2rem;
    padding: 0;
}

.total-time {
    font-size: 0.8rem;
}

.title_size_small {
    font-size: 0.8em;
}

.title_size_Xsmall {
  font-size: 0.4em;
}

.title_size_tiny {

    font-size: 0.2em;
    line-height: 1em;
}

.actiongrid {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: repeat(100, 0.375rem);
  z-index: 42;
}

.action-icon {
  visibility: hidden;
}

.action-continer:hover {
  border-top: 1px dashed var(--borders);
  border-bottom: 1px dashed var(--borders);
  transition: 0.3;
}

.action-continer:hover .action-icon {
  visibility: visible;
}

.week-view-title {
    font-size: 2em;
}

.zodiac-sign {
  position: fixed;
  right: 1.2em;
  top: 1.6em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  padding-bottom: 0.2em;
  border: solid 0.1px var(--primary);
  background-color: var(--borders-variant);
  border-radius: 50px;
  box-shadow: 1px 1px 2px #999;
}

.todo-style {
	background: #F7F7F7;
}

#table {
    max-width: 500px;
}

.open-button {
    background-color: var(--primary);
    color: #fff;
    margin-top: 12px;
    font-size: 20px;
    padding: 14px;
    border-radius: 20px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.open-button:hover {
  background-color: #ccddff;
  color: #00001a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.todo-style h1 {
    color: #fff;
    text-align: center;
}

.todo-style input[type="text"],
.todo-style input[type="date"],
.todo-style input[type="time"],
.todo-style textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
}

.todo-style input[type="text"]:focus,
.todo-style input[type="date"]:focus,
.todo-style input[type="time"]:focus,
.todo-style textarea:focus {
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

.todo-style th, .todo-style td {
  padding-right: 3em;
  padding-top: 2em;
  text-align: left;
}

.todo-style button {
    border-radius: 20px;
    padding: 2%;
    text-align: right;
    background-color: #80bfff;
}


.edit {
  text-decoration: none;
  background-color: #eafaf6;
   border-style: solid;
   border-color: #004d99;
   border-radius: 10px;
}

.todo-style button:hover {
    background-color: var(--primary);
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}