:root {
  /* Texts */
  --text_xs: 0.75rem;  /* 12px */
  --text_s: 1rem;      /* 16px */
  --text_m: 1.2rem;   /* 19px */
  --text_l: 1.5rem;   /* 24px */
  --text_xl: 1.75rem;  /* 28px */
  --text_xxl: 2rem;    /* 32px */

  /* Spaces */
  --space_xs: 0.5rem; /* 6px */
  --space_s: 0.75rem; /* 12px */
  --space_m: 1.25rem; /* 20px */
  --space_l: 2rem;    /* 32px */
  --space_xl: 4rem;   /* 64px */

  /* colors */
  --primary: #F7F7F7;
  --secondary: #222831;
  --surface: #e9ecef;
  --up_surface: #adb5bd;
  --bold_primary: #FFDE4D;
  --bold_secondary: #F24726;
  --bold_tertiary: #0CA789;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #F7F7F7;
  color: #222831;
  font-family: "Assistant", "Ariel", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}