:root {
  /* Texts */
  --text_xxs: 0.5rem;  /* 8px */
  --text_xs: 0.75rem;  /* 12px */
  --text_s: 1rem;      /* 16px */
  --text_m: 1.2rem;   /* 19px */
  --text_l: 1.5rem;   /* 24px */
  --text_xl: 1.75rem;  /* 28px */
  --text_xxl: 2rem;    /* 32px */

  /* Spaces */
  --space_xxs: 0.25rem; /* 4px */
  --space_xs: 0.5rem; /* 8px */
  --space_s: 0.75rem; /* 12px */
  --space_m: 1.25rem; /* 20px */
  --space_l: 2rem;    /* 32px */
  --space_xl: 4rem;   /* 64px */

  /* colors */
  --primary: #24396a;
  --primary-variant: #041E51;
  --secondary: #fbc44a;
  --secondary-variant: #ffa201;
  --background: #F7F7F7;
  --surface: #e6e6e6; /* borders */
  --surface-variant: #d2d1d1; /*up_surface, borders-variant*/
  --negative: #f24726;
  --negative-variant: #e83305;
  --positive: #4ca486;
  --positive-variant: #008c73;

  --on-primary: #ffffff;
  --on-secondary: #000000;
  --on-background: #000000;
  --on-surface: #000000;
  --on-negative: #ffffff;
  --on-positive: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #F7F7F7;
    color: #222831;
    font-family: "Assistant", "Ariel", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}