* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #F7F7F7;
  color: #222831;
  font-family: "Assistant", "Ariel", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}