:root {
  /* Texts */
  --text_xs: 0.75rem;  /* 12px */
  --text_s: 1rem;      /* 16px */
  --text_m: 1.2rem;   /* 19px */
  --text_l: 1.5rem;   /* 24px */
  --text_xl: 1.75rem;  /* 28px */
  --text_xxl: 2rem;    /* 32px */

  /* Spaces */
  --space_xs: 0.5rem; /* 6px */
  --space_s: 0.75rem; /* 12px */
  --space_m: 1.25rem; /* 20px */
  --space_l: 2rem;    /* 32px */
  --space_xl: 4rem;   /* 64px */

  /* colors */
  --primary: #F7F7F7;
  --secondary: #222831;
  --surface: #e9ecef;
  --up_surface: #adb5bd;
  --bold_primary: #FFDE4D;
  --bold_secondary: #F24726;
  --bold_tertiary: #0CA789;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #F7F7F7;
  color: #222831;
  font-family: "Assistant", "Ariel", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.search-box {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--text_s);
  border: 2px solid var(--secondary);
  border-radius: 0.25rem;
  padding: 0.25rem;
  background-color: white;
}

.search-box * {
  margin: 0 0.25rem;
}

.search-input[type=text],
.search-input:focus {
  width: 100%;
  outline: none;
  border:none;
}


/* Feature Panel */
#features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 3rem;
  grid-column-gap: var(--space_l);
  margin: var(--space_s);
  align-items: start;
  width: 100%;
}

.feature-row {
  display: grid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  grid-template-columns: 6% 30% auto auto 15%;
  background-color: var(--surface);
  margin: var(--space_s) 0;
  padding: var(--space_s);
  border-radius: 0.25rem;

  border: 2px solid transparent;
}

.feature-row:hover {
  border: 2px solid var(--secondary);
}

.feature-row div {
  justify-self: start;
  width: 100%;
  height: 100%;
}

.feature-button {
  width: 60%;
}

.feature-icon {
  font-size: var(--text_m);
  vertical-align: middle;
}