:root {
  /* Texts */
  --text_xxs: 0.5rem;  /* 8px */
  --text_xs: 0.75rem;  /* 12px */
  --text_s: 1rem;      /* 16px */
  --text_m: 1.2rem;    /* 19px */
  --text_l: 1.5rem;    /* 24px */
  --text_xl: 1.75rem;  /* 28px */
  --text_xxl: 2rem;    /* 32px */

  /* Spaces */
  --space_xxs: 0.25rem; /* 4px */
  --space_xs: 0.5rem;   /* 8px */
  --space_s: 0.75rem;   /* 12px */
  --space_m: 1.25rem;   /* 20px */
  --space_l: 2rem;      /* 32px */
  --space_xl: 4rem;     /* 64px */

  /* colors */
  --primary: #24396a;
  --primary-variant: #041E51;
  --secondary: #fbc44a;
  --secondary-variant: #ffa201;
  --background: #F7F7F7;
  --surface: #e6e6e6; /* borders */
  --surface-variant: #d2d1d1; /*up_surface, borders-variant*/
  --negative: #f24726;
  --negative-variant: #e83305;
  --positive: #4ca486;
  --positive-variant: #008c73;

  --on-primary: #ffffff;
  --on-secondary: #000000;
  --on-background: #000000;
  --on-surface: #000000;
  --on-negative: #ffffff;
  --on-positive: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

/* Grids */
/* -> Website Structure */
.pyldr-container {
  display: flex;
  height: 100%;
}

nav {
  z-index: 5;
  padding: var(--space_xs);
}

.menu {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: var(--space_s);
}

.fixed-features,
.user-features,
#open-features {
  text-align: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--backgroundcol);
}

.user-features {
  margin-top: 3rem;
}

.fixed-features div {
  font-size: var(--text_xxl);
  height: 3rem;
}

.fixed-features div:hover {
  color: var(--secondary);
}

.user-features div {
  height: 1.75rem;
  width: 1.75rem;
  font-size: var(--text_m);
  margin: var(--space_s) auto auto auto;
  color: var(--background);
  background-color: var(--positive);
  border-radius: 0.125rem;
}

.user-features div:hover {
  color: var(--primary);
  background-color: var(--secondary);
}

.user-features div:visited:active {
  color: var(--primary);
  background-color: var(--secondary);
}

img {fill: var(--background);}

header {
  z-index: 5;
  position: sticky;
  top: 0;
  display: flex;
  margin: 0 var(--space_s);
  margin: 0 1rem 0 1rem;
  background-color: var(--backgroundcol);
}

header div {
  flex: 1;
}

#logo-div {
  text-align: end;
}

.logo-container {
  max-width: 5em;
  height: auto;
  margin-left: auto;
  margin-top: 0.5em;
}

/* Main Element Grid */
main {
  display: flex;
  flex-flow: row wrap;
  flex: 1;
  overflow-y: hidden;
}

.calendar {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.day-view-visible {
  flex: 0 1 30%;
  opacity: 1;
  transition: all 1s;
}

.calender-days-titles {
  z-index: 4;
  position: sticky;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: var(--space_s) var(--space_s) 0 var(--space_s);
  margin: 1rem 1rem 0 1rem;
  background-color: var(--backgroundcol);
  align-self: stretch;
}

/* The Calendar Grid */
#calender-grid {
  flex: 1;
  display: grid;
  grid-auto-rows: 20%;
  grid-template-rows: repeat(5, 20%);
  overflow-y: scroll;
  height: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
#calender-grid::-webkit-scrollbar {
  display: none;
}

.week {
  flex: 1;
  display: grid;
  margin: 0 var(--space_s);
  grid-template-columns: repeat(7, 1fr);
  font-weight: 800;
  font-size: var(--text_m);
}

.week:hover {
  box-shadow: -0.25rem 0 0 0 var(--secondary);
}

.day {
  z-index: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  font-size: var(--text_xs);
  padding: 0 var(--space_s);
  border: 0.075rem solid var(--surface);

  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.day::-webkit-scrollbar {
  display: none;
}

.event {
  font-weight: 400;
}

.day:hover {
  border: 0.1rem solid var(--primary);
}

.day:hover .day-number {
  color: var(--negative);
}

.day:hover .add-small {
  display: block;
}

.day-number {
  font-weight: 800;
  font-size: var(--text_m);
  text-align: left;
}

.day_current {
  background-color: var(--secondary);
  color: white;
}

.month-day-header {
  display: flex;
  flex-flow: row wrap;
}

.month-day-header div {
  flex-grow: 2;
}

.month-day-header:last-child {
  text-align: right;
}

.add-small {
  display: none;
  font-weight: 800;
  font-size: var(--text_m);
  padding-right: var(--space_xs);
}

/* Months Navigation */
#months-navigation {
  display: flex;
  flex-flow: column;
  width: var(--space_xl);
  margin: 0 var(--space_s);
  align-items: center;
}

#months-navigation * {
  text-align: center;
  text-transform: uppercase;
  margin-top: var(--space_s);
}

#pre-month-title,
#aft-month-title {
  font-size: var(--text_s);
}

#current-month-title {
  font-weight: 800;
  font-size: var(--text_m);
}

.sticky {
  z-index: 4;
  position: sticky;
}

#month0 {
  font-size: var(--text_m);
  font-weight: 800;
}

#month-1,
#month1 {
  font-size: var(--text_s);
  opacity: 0.8;
}

#month-2,
#month2,
#month-2 + ion-icon,
#month1 + ion-icon {
  font-size: var(--text_xs);
  opacity: 0.6;
}

/* Events - Rotation*/
.month-event {
  position: relative;
  perspective: 94rem;
  -moz-perspective: 94rem;
  height: 1.5rem;
}

.month-event div {
  height: 1.5rem;
  width: 100%;
  transition: all 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}

.back {
  transform: rotateX(180deg);
}

.month-event:hover .front {
  transform: rotateX(-180deg);
}

.month-event:hover .back {
  transform: rotateX(0);
}

.daily {
  font-weight: 700;
  border-radius: 0.25rem;
  padding: 0 var(--space_s);
}

/* Titles */
.day-title {
  font-weight: 600;
  font-size: var(--text_m);
}

.title {
  font-weight: 800;
  font-size: var(--text_xl);
  margin-bottom: calc(var(--space_s) * -1);
}

.sec-title {
  font-weight: 500;
  font-size: var(--text_s);
}

.m-title {
  font-weight: 600;
  font-size: var(--text_m);
}

.s-title {
  font-size: var(--text_s);
}

/* Paragraph */

.s-paragraph {
  font-size: var(--text_s);
  line-height: 1.25rem;
  margin: var(--space_s) 0;
}

/* Text Colors */
.text-yellow {
  color: var(--secondary);
}

.text-gray {
  color: var(--on-surface);
}

.text-lightgray {
  color: var(--background);
}

.text-darkblue {
  color: var(--primary);
}

.text-red {color: var(--negative)}

/* Borders */
.border-dash-darkblue {
  border: 0.125rem dashed var(--primary);
}

.border-darkblue {
  border: 0.125rem solid var(--primary);
}

.underline-yellow {
  border-bottom: 0.25rem solid var(--secondary);
}

/* Background Color */
.background-darkblue {
  background-color: var(--primary-variant);
}

.background-red {
  background-color: var(--negative);
}

.background-yellow {
  background-color: var(--secondary);
}

.background-green {
  background-color: var(--positive);
}

.background-lightgray {
  background-color: var(--start-of-month);
}

.background-green {
  background-color: var(--bold_tertiary);
}

/* Buttons */

.button {
  border-radius: 0.15rem;
  font-weight: 500;
  font-size: var(--text_s);
  padding: 0.15rem 0.25rem;
  text-align: center;
  vertical-align: middle;
}

.button:hover {
  font-weight: 800;
}

.add-button,
.remove-button {
  color: var(--background);
  height: 2rem;
}

.remove-button {
  background-color: var(--negative);
}


.add-button {
  background-color: var(--positive);
}

.dates-calc {
  background-color: #222831;
  color: white;
}

/*toggle views*/
.btn-group-sm>.btn, .btn-sm {
  padding: .1rem .3rem !important;
  font-size: .7rem !important;
}

.btn-outline-primary {
  border-color: var(--primary) !important;
  color: var(--primary) !important;
}

.btn-outline-primary:hover {
  background-color: var(--primary) !important;
  color: white !important;
}

.btn-group>.btn-check:checked+.btn {
  background-color: var(--primary) !important;
  color: white !important;
}

.btn-group>.btn-check:focus+.btn {
  box-shadow: var(--primary) !important;
}

#calendarview {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#calendarview::-webkit-scrollbar {
  display: none;
}

.day-view-scrollbar {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.day-view-scrollbar::-webkit-scrollbar {
  display: none;
}

.day-view-limitions {
  max-width: 30vw;
  max-height: 90vh
}

.transition {
  transition-duration: 0.4s;
}

#darkmode {
  cursor: pointer;
}
