* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Assistant", "Ariel", sans-serif;
    font-weight: 400;
    font-size: 62.5%;  /*16px / 10px = 62.5% -> 1rem = 10px*/
    line-height: 1.7;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    background-color: #F7F7F7;
    color: #222831;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Grids */
/* -> Website Structure */
.container {
    display: grid;
    grid-template-columns: minmax(4.5rem, auto) 1fr;
}

nav {
    z-index: 5;
    width: 4.5rem;
    grid-row: 1/3;
    font-size: 2.8rem;
    padding-left: 0.5rem;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
}

.menu div:hover {color: #FFDE4D;}

img {fill: #F7F7F7;}

header {
    z-index: 5;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns:80% 20%;
    margin: 0 1rem 0 1rem;
    background-color: #F7F7F7;
}

#header-bottom {
    display: none;
}

#logo-div {
    align-self: center;
    justify-self: end;
    padding-right: 2rem;
}

.search-div {
    width: 90%;
    float: left;
}

/* Main Element Grid */
main {
    display: flex;
    flex-flow: row wrap;
}

.calendar {
    flex: 1;
}

#day-display {
    flex: 0 0 0;
    opacity: 0;
    transition: all 1s;
}

.calender-days-titles {
    z-index: 4;
    position: sticky;
    top: 6rem;
    align-self: flex-start;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 1rem 1rem 0 1rem;
    background-color: #F7F7F7;
}

/* The Calendar Grid */
.calender-grid {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 1rem 0 1rem;
}

.week {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 12rem;
    font-weight: 900;
    font-size: 2rem;
}

.week:hover {
    box-shadow: -5px 0px 0px 0px #FFDE4D;
}

.day {
    z-index: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    font-size: 1.2rem;
    padding: 0 1rem 0 1rem;
    border: 1px solid #e9ecef;

    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.day::-webkit-scrollbar {display: none;}

.event { font-weight: 400; }

.day:hover {
    border: 0.2rem solid #222831;
}

.day:hover .day-number{
    color: #F24726;
}

.day:hover .add-small{
    display: block;
}

.day-number {
    font-weight: 900;
    font-size: 2rem;
}

.day_current {
    background-color: #FFDE4D;
    color: white;
}

.month-day-header {
    display: flex;
    flex-flow: row wrap;
}

.month-day-header div {
    flex-grow: 2;
}

.add-small {
    display: none;
    font-weight: 900;
    font-size: 2rem;
    padding-right: 0.5rem;
}

/* Dates Navigation */
.dates-navigation {
    position: fixed;
}

/* Events - Rotation*/
.month-event {
    position: relative;
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 2.4rem;
}

.month-event div{
    height: 2.4rem;
    width: 100%;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.back {transform: rotateX(180deg);}

.month-event:hover .front{transform: rotateX(-180deg);}

.month-event:hover .back{transform: rotateX(0);}

.daily {
    font-weight: 700;
    border-radius: 0.4rem;
    padding: 0 0.5rem 0 0.5rem;
}

/* Titles */
.day-title {
    font-weight: 600;
    font-size: 1.6rem;
}

.title {
    font-weight: 900;
    font-size: 2.4rem;
    margin-bottom: -1rem;
}

.sec-title {
    font-weight: 500;
    font-size: 1.6rem;
}

/* Alignments */
.align-right {
    text-align: right;
}

.align-left {
    text-left: right;
}

/* Text Colors */
.text-yellow {color: #FFDE4D;}

.text-gray {color: #adb5bd;}

.text-lightgray {color: #F7F7F7;}

.text-darkblue {color: #222831;}

/* Borders */
.border-dash-darkblue {border: 2px dashed  #222831;}

.border-darkblue {border: 2px solid  #222831;}

.underline-yellow {border-bottom: 4px solid  #FFDE4D;}

/* Background Color */
.background-darkblue {background-color: #222831;}

.background-red {background-color: #F24726;}

.background-lightgray {background-color: #e9ecef;}

.background-yellow {background-color: #FFDE4D;}