@font-face{
    font-family: "Secular one";
    src: url("fonts/SecularOne-Regular.ttf") format("truetype");
}

.answer {
 background-color: blue;
}

button {
    background-color: #6699ff;
    color: #00001a;
    font-size: 12px;
    font-family: "Secular one";
    padding: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

button:hover {
  background-color: #ccddff;
  font-family: "Secular one";
  color: #00001a;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h2 {
    visibility: hidden;
    font-family: "Secular one";
    font-size: 12px;
    color: #00001a;
}