/* general */
#main {
    width: 90%;
    margin: 0 25% 0 5%;
}

#notifications-box {
    margin-top: 1rem;

}

.notification {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
}

.notification:hover {
    background-color: var(--surface-variant);
    border-radius: 0.2rem;
}

.action, .description {
    display: inline-block;
}

.action {
    width: 4rem;
}


/* buttons */
.notification-btn {
    background-color: transparent;
    border: none;
}

.notification-btn:focus {
    outline: 0;
}

.btn-accept {
    color: green;
}

.btn-decline {
    color: red;
}

#mark-all-ass-read {
    margin: 1rem;
}


/* form */
.notification-form {
    display: inline-block;
}


/* icons */
.icon {
    font-size: 1.5rem;
}