/* Settings page */

.sub-title {
    font-size: 1.5em;
    padding-top: 0.4em;
}

.settings {
  color: #222831;
  display: flex;
  font-size: 1.8em;
}

#settings-left {
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(230, 230, 230)
}

.settings-headline {
  display: flex;
  width: 200px;
  padding-bottom: 2em;
}

.settings-layout {
  display: flex;
}

.left-options-bar {
  display: flex;
}

.settings-main article {
  margin-bottom: 4rem;
}

.settings-options {
  flex: 1
}

.settings-options ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 2rem;
}

.settings-options ul li {
  margin-bottom: 15px;
  font-weight: bold;
}

.settings-options ul li a {
  color: #222831;
  transition: all .3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

.settings-options ul li a:hover {
  color: #5786f5;
}

.settings-options ul li a.active {
  color: #5786f5;
}

.tabShow {
  transition: all .5s ease-in;
}

.settings-main {
  flex: 3;
  padding: 3rem 3em;
}

.settings-main h2 {
  margin-bottom: 2rem;
}

.settings-main p {
  margin: 2rem 0px;
}

.settings-main .form-select {
  width: 300px;
}

#settings_content h2, .settings_content p {
  display: block;
  align-self: left;
}

#settings_content h2 {
  font-weight: bold;
}

#select-form-settings {
  font-size: 1.5rem;
}

/* For Mobile */
@media screen and (max-width: 540px) { 
  .settings {
    display: flex;
    flex-direction: column;
    font-size: 3vw;
  }
  
  #settings-left {
    padding: 3rem 0em 0em 4rem;
  }
  
  .settings-headline {
    padding-bottom: 20px;
  }

  .settings-headline img {
    display: none;
  } 

  .settings-headline h1 {
    margin-left: 0;
  }
  
  .settings-options {
    margin-bottom: 30px;
  }

  .settings-options ul {
    padding-left: 0;
  }

  .settings-options ul li {
    margin-bottom: 5px;
    font-weight: bold;
  }

  .settings-main {
    padding: 4rem 4rem
  }
  .settings-main .form-select {
    width: 250px;
  }

  .settings-main h2 {
    margin-bottom: 1rem;
  }
    
  .settings-main p {
    margin: 1rem 0px;
  }
    
}