* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Assistant", sans-serif;
    font-weight: 400;
    font-size: 62.5%;  /*16px / 10px = 62.5% -> 1rem = 10px*/
    line-height: 1.7;
}

body {
    background-color: red;
}
