body {
  background: #a1ffce;
  background: -webkit-linear-gradient(to right, #faffd1, #a1ffce);
  background: linear-gradient(to right, #faffd1, #a1ffce);
}

.profile-image {
  width: 7em;
}

.card-profile {
  border-radius: 10px;
}

.card-event {
  border-radius: 10px;
}

.card-event:hover {
  transform: scale(1.02);
}

.event-posted-time {
  font-size: 0.7rem;
}

.no-border {
  border: none;
}

.profile-modal-fadeIn {
  -webkit-animation-name: profile-modal-fadeIn;
  animation-name: profile-modal-fadeIn;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes profile-modal-fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.profile-modal-dialog {
  margin: 0;
}

.card-body {
  overflow: auto;
}

.profile-modal-header {
  border: none;
  background-color: whitesmoke;
}

.subtitle {
    font-size: 20px;
}

h1.modal-title {
  font-size: 1.25rem;
}
