.form-style {
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}

#table {
    max-width: 500px;
}

.form-style h1 {
	background: #004d99;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="time"],
.form-style textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}

.form-style input[type="text"]:focus,
.form-style input[type="date"]:focus,
.form-style input[type="time"]:focus,
.form-style textarea:focus {
	box-shadow: 0 0 5px #43D1AF;
	padding: 3%;
	border: 1px solid #43D1AF;
}

th, td {
  padding-right: 30px;
  padding-top: 20px;
  text-align: left;
}

button {
    padding: 2%;
    background-color: #80bfff;
    text-align: right;
    margin-left: 85%
}

.edit {
  text-decoration: none;
  background-color: #eafaf6;
   border-style: solid;
   border-color: #004d99;
   border-radius: 10px;
}

button:hover {
    background-color: #004d99;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
