.day-weekview {
    border: 1px solid var(--borders);
    width: 100%;
}

#week-view {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2.3em 1fr;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#week-view::-webkit-scrollbar {
    display: none;
  }

#week-schedule {
    grid-row: 1;
    grid-column: 2;
    z-index: 10;
}

#hoursgrid {
    grid-row: 1;
    grid-column: 1;
    flex: 1;
    margin-top: 4em;
    margin-left: 0.8em;
    z-index: 30;
}

.hour-top {
    color: white;
    width: 2.4em;
    margin-left: -2;
    overflow: hidden;
}
