{% extends "partials/index/index_base.html" %}

{% block content %}
  <div class="container col col-sm-7 col-md-5 col-lg-4 col-xl-3 mt-3">
    <header class="text-center">
      <h1>{{ category }}</h1>
      <h2>{{ gettext("Monthly salary") }}</h2>
    </header>

    <form method="post">
      <div class="input-group mb-2">
        <label class="font-weight-bold input-group-text" for="month-select">{{ gettext("Pick month:") }}</label>
        <input class="form-control" type="month" name="month" id="month-select" value="{{ end }}" min="{{ start }}" max="{{ end }}">
      </div>

      <div class="input-group mb-2">
        <label class="font-weight-bold input-group-text" for="bonus">{{ gettext("Bonus:") }}</label>
        <input class="form-control" type="number" name="bonus" id="bonus" min="0" value="0">
      </div>

      <div class="input-group mb-2">
        <label class="font-weight-bold input-group-text" for="deduction">{{ gettext("Deduction:") }}</label>
        <input class="form-control" type="number" name="deduction" id="deduction" min="0" value="0">
      </div>

      <div class="mb-2">
        <input type="checkbox" name="overtime" id="weekly-overtime">
        <label class="font-weight-bold" for="weekly-overtime">{{ gettext("Include weekly overtime") }}</label>
      </div>

      <button type="submit" class="btn btn-sm btn-primary">{{ gettext("Calculate salary") }}</button>
    </form>

    <div>
      <p class="text-muted"><a href="{{ url_for("edit_settings", category_id=category_id) }}">{{ gettext("Edit settings") }}</a></p>
    </div>
  </div>
{% endblock content %}
