import os
from typing import Union

from fastapi_mail import ConnectionConfig
# flake8: noqa


# DATABASE
DEVELOPMENT_DATABASE_STRING = "sqlite:///./dev.db"

# MEDIA
MEDIA_DIRECTORY = 'media'
PICTURE_EXTENSION = '.png'
AVATAR_SIZE = (120, 120)

email_conf = ConnectionConfig(
    MAIL_USERNAME: Union(str,None)= os.getenv("MAIL_USERNAME"),
    MAIL_PASSWORD: Union(str,None)= os.getenv("MAIL_PASSWORD"),
    MAIL_FROM: Union(str,None)= os.getenv("MAIL_FROM"),   
    MAIL_PORT: int=587,
    MAIL_SERVER: str="smtp.gmail.com",
    MAIL_TLS: bool=True,
    MAIL_SSL: bool=False,
    USE_CREDENTIALS: bool=True,
)
