import os

from fastapi_mail import ConnectionConfig
# flake8: noqa


# DATABASE
DEVELOPMENT_DATABASE_STRING = "sqlite:///./dev.db"

# MEDIA
MEDIA_DIRECTORY = 'media'
PICTURE_EXTENSION = '.png'
AVATAR_SIZE = (120, 120)

email_conf = ConnectionConfig(
    MAIL_USERNAME=os.getenv("MAIL_USERNAME") or "user",
    MAIL_PASSWORD=os.getenv("MAIL_PASSWORD") or "password",
    MAIL_FROM=os.getenv("MAIL_FROM") or "a@a.com",   
    MAIL_PORT=587,
    MAIL_SERVER="smtp.gmail.com",
    MAIL_TLS=True,
    MAIL_SSL=False,
    USE_CREDENTIALS=True,
)
