<div class="todo-style">
    <div class="modal fade" id="create-modal" tabindex="-1"
         aria-labelledby="create-modal-Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header top-todo">
                    <h1 id="create-modal-Label">
                        Add Task</h1>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form action='{{ url_for("add_task") }}' method="post">
                    <div class="modal-body">
                        <input type="hidden" value="{{date_str}}"
                               name="date_str">
                        <label for="customer-time">Select
                            Hour:<em>&#x2a;</em></label>
                        <input id="customer-time" name="time_str"
                               required=""
                               type="time">
                        <label for="customer-title">Title:<em>&#x2a;</em></label>
                        <input id="customer-title" name="title" required=""
                               type="text" maxlength="10">
                        <textarea placeholder="Description:"
                                  id="customer-descrip" name="description"
                                  required=""></textarea>
                        <label>Is important?</label>
                        <input id="is-important" name="is_important"
                               type="checkbox">
                    </div>
                    <div class="modal-footer">
                        <button class="sub-button" type="submit"
                                value="Submit"
                        >Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>