<link rel="stylesheet" type="text/css"
          href="{{ url_for('static', path='/dayview.css') }}">
<div class="todo-style">
    <div class="modal fade" id="list-modal" tabindex="-1"
         aria-labelledby="list-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header top-todo">
                    <h1 id="modal-label">To Do
                        List</h1>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="table">
                    <table id="customer-done">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Task</th>
                            <th>Description</th>
                            <th>Is Done?</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                        {% if task.is_important %}
                        <tr class="important">
                            {% else %}
                        <tr>
                            {% endif %}
                            <td>{{ task.time }}</td>
                            <td>{{ task.title }}</td>
                            <td>{{ task.description }}</td>
                            {% if task.is_done %}
                            <td>
                                <form action="/task/undone/{{task.id}}"
                                      method="post">
                                    <button type="submit">Undone</button>
                                </form>
                            </td>
                            {% else %}
                            <td>
                                <form action="/task/done/{{task.id}}"
                                      method="post">
                                    <button type="submit">Done</button>
                                </form>
                            </td>
                            {% endif %}
                            {% if task.is_important %}
                            <td>
                                <button
                                        type="button"
                                        id="open-edit"
                                        class="edit"
                                        data-bs-toggle="modal"
                                        data-bs-target="#edit-modal"
                                        data-bs-task-id="{{task.id}}"
                                        data-bs-time="'{{task.time}}'"
                                        data-bs-title="{{task.title}}"
                                        data-bs-description="'{{task.description}}'"
                                        data-bs-is_important="true">Edit
                                </button>
                            </td>
                            {% else %}
                            <td>
                                <button
                                        type="button"
                                        id="open-edit2"
                                        class="edit"
                                        data-bs-toggle="modal"
                                        data-bs-target="#edit-modal"
                                        data-bs-task-id="{{task.id}}"
                                        data-bs-time="'{{task.time}}'"
                                        data-bs-title="'{{task.title}}'"
                                        data-bs-description="'{{task.description}}'"
                                        data-bs-is_important="false">Edit
                                </button>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
