{% extends 'calendar/layout.html' %}

{% block body %}
<div class="container">
    <nav class="text-lightgray background-darkblue">
        <div class="menu">
            <div>
                <ion-icon name="menu" alt="Menu bar icon"></ion-icon>
            </div>
            <div>
                <ion-icon name="search" alt="Search icon"></ion-icon>
            </div>
            <div>
                <ion-icon name="calendar-outline"></ion-icon>
            </div>
            <div>
                <ion-icon name="add" alt="add event icon"></ion-icon>
            </div>
        </div>
    </nav>
    <div>
        <header>
            <div>
                <div class="title"> {{calendar['day'].display()}}</div>
                <div class="sec-title"> Location 0<sup>o</sup>c 00:00</div>
            </div>
            <div id="logo-div"><a href="/calendar">
                    <h1 class="title"> PYLENDAR </h1>
                </a></div>
            <div id="header-bottom">
                <div class="search-div float-left"> Search </div>
                <div> Month </div>
            </div>
        </header>
        <main>
            <div class="calendar">
                <div class="calender-days-titles">
                    {% for day in calendar['week_days'] %}
                    {% if day == calendar['day'].sday %}
                    <div class="day-title underline-yellow"><b> {{ day.upper() }} </b></div>
                    {% else %}
                    <div class="day-title"> {{ day.upper() }}</div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="calender-grid">
                    {% for week in calendar['month_block'] %}
                    {% include 'calendar/add_week.html' %}
                    {% endfor %}
                </div>
            </div>
            <div id="day-display"></div>
        </main>
    </div>
</div>
{% endblock %}