<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>View Event</title>
        <link href="{{ url_for('static', path='event/eventview.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class = "event_view_wrapper">
                <!-- Temporary nav layout based on bootstrap -->
                <ul class="nav nav-tabs" id="event_view_nav" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="eventdetails-tab" data-toggle="tab" href="#eventdetails" role="tab"
                            aria-controls="eventdetails" aria-selected="true">
                        Event Details
                        </a>
                    </li>
                    <!-- Copy commented section to add another navigation item -->
                    <!--    <li class="nav-item">-->
                    <!--        <a class="nav-link" id="(CHANGE_ME)-tab" data-toggle="tab" href="#(CHANGE_ME)" role="tab"-->
                    <!--           aria-controls="(CHANGE_ME)" aria-selected="true">-->
                    <!--            (CHANGE_ME)-->
                    <!--        </a>-->
                    <!--    </li>-->
                </ul>
                <div class="tab-content" id="event_view_tabs">
                    <div class="tab-pane fade show active" id="eventdetails" role="tabpanel" aria-labelledby="eventdetails-tab">
                        {% include "event/partials/view_event_details_tab.html" %}
                    </div>
                    <!--    Copy commented section to add another tab-->
                    <!--    <div class="tab-pane fade" id="(CHANGE_ME)" role="tabpanel" aria-labelledby="(CHANGE_ME)-tab">-->
                    <!--        ADD INCLUDE HERE -->
                    <!--    </div>-->
                </div>
            <div class="event_info_buttons_row event_info_row_end">
                <!-- Buttons could and should be replaced with button-like anchors if need so -->
                <button type="button">Duplicate</button>
                <button type="button">Edit</button>
            </div>
        </div>
    </body>
</html>