<div class="feature-settings-closed" id="feature-set-panel">
    <div class="feature-settings-panel">
        <div class="flex-row">
            <div class="title" id='feature-name'></div>
        </div>
        <div class="flex-row">
            <div>
                <ion-icon class="feature-icon text-red" name="heart"></ion-icon>
                <span><b>Followers:</b></span><span id="feature-followers"></span>
            </div>
            <div>
                <span><b>Creator:</b></span><span id="feature-creator"></span>
            </div>
        </div>
        <div class="s-paragraph" id="feature-description"></div>
        <div id="feature-content">
            <!-- {% set name = 'example' + '_panel.html' %}
            {% include 'partials/features_panels/' + name %} -->
        </div>
    </div>
</div>
