<!-- upcomingGames Modal -->
<div
  class="modal modal-lg"
  id="upcomingGamesModal"
  tabindex="-1"
  data-bs-backdrop="static"
  aria-labelledby="upcomingGamesModal"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-scrollable profile-modal-dialog profile-modal-fadeIn"
  >
    <div class="modal-content">
      <div class="modal-header profile-modal-header">
        <h2 class="modal-title">{{ gettext("Upcoming Games") }}</h2>
        <input type="checkbox" checked data-toggle="toggle">

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          type="date"
          id="from_date"
          class="form-control border-top-0 border-end-0 border-start-0 mb-2"
          name="from_date"
          placeholder="From Date"
        />
        <input
          type="date"
          id="to_date"
          class="form-control border-top-0 border-end-0 border-start-0 mb-2"
          name="to_date"
          placeholder="To Date"
        />
        <form action="/game-releases/add-games-to-calendar" method="post">
          <div id="content_div"></div>
          <!-- <div class="d-flex flex-row-reverse mt-4"> -->
            <button type="button" id="get_games" class="btn btn-sm btn-success">
              {{ gettext("Get upcoming releases")}}
            </button>
            <!-- <button
              type="submit"
              id="save_changes"
              class="btn btn-sm btn-success"
            > -->
              <!-- {{ gettext("Save changes") }} -->
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  get_games_btn = document.getElementById("get_games");
  get_games_btn.addEventListener("click", function (e) {
    let formData = new FormData();
    formData.append("from_date", document.getElementById("from_date").value);
    formData.append("to_date", document.getElementById("to_date").value);
    let clickedElem = e.target.id;
    fetch("/game-releases/get_releases_by_dates", {
      method: "post",
      body: formData,
    })
      .then(function (response) {
        return response.text();
      })
      .then(function (body) {
        document.querySelector("#content_div").innerHTML = body;
      });
  });

</script>
