{% extends "partials/base.html" %}
{% block head %}
  {{super()}}

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/grid_style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/notification.css') }}" >

{% endblock head %}
{% block body %}
  <div class="pyldr-container">
    {% include 'partials/calendar/navigation.html' %}
    <div id="feature-settings">
      {% include 'partials/calendar/feature_settings/example.html' %}
    </div>
    <div class="content">
      {% block content %}
        <header>
            {% block description %}
            {% endblock description %}
            <div id="logo-div">
                <a href="/calendar/month">
                    <span class="title">PYLENDAR</span>
                </a>
            </div>
        </header>
        <div id="main">
            <div>
                {% block link %}
                {% endblock link %}
            </div>
            {% if notifications %}
            <div id="notifications-box">

                {% block optional %}
                {% endblock optional %}

                <div id="notifications">
                    {% block notifications %}
                    {% endblock notifications %}
                </div>

            {% else %}
                {% block no_notifications_msg %}
                {% endblock no_notifications_msg %}
            </div>
            {% endif %}
        </div>
      {% endblock content %}
    </div>
  </div>

  <!-- Scripts -->
  <script src="{{ url_for('static', path='/js/grid_scripts.js') }}"></script>
  <script src="{{ url_for('static', path='/js/grid_navigation.js') }}"></script>
{% endblock body %}
