{% for n in notifications %}
    {% set type = n.__table__.name %}

    <div class="notification" id="{{ loop.index }}">
        {% if type == "invitations" %}
            <div class="description">
                <span>Invitation from {{ n.event.owner.username }} - </span>
                <a href="#">{{ n.event.title }}</a>
                <span>(declined)</span>
            </div>
            <div class="action">
                <form action="{{ url_for('accept_invitations') }}" method="post"
                  class="notification-form">
                    <input type="hidden" name="next_url" value="/notification/history">
                    <button type="submit" name="invite_id" value="{{ n.id }}" class="notification-btn btn-accept">
                        <ion-icon class="icon" name="checkmark-outline"></ion-icon>
                    </button>
                </form>
            </div>

        {% elif type == "messages" %}
            <div class="description">
                {% if n.link %}<a href="{{ n.link }}">{{ n.body }}</a>
                {% else %}<span>{{ n.body }}</span>{% endif %}
            </div>
        {% endif %}

    </div>
{% endfor %}
