{% for n in notifications %}
    {% set type = n.__table__.name %}

    <div class="notification" id="{{ loop.index }}">
        {% if type == "invitations" %}
            <div class="description">
                <span>{{ gettext("Invitation from %(user)s", user=n.event.owner.username) }} - </span>
                <a href="#">{{ n.event.title }}</a>
                <span>({{ n.event.start.strftime("%H:%M %m/%d/%Y") }})</span>
            </div>
            <div class="action">
                <form action="{{ url_for("accept_invitations") }}" method="post"
                  class="notification-form">
                    <input type="hidden" name="next_url" value="/notification">
                    <button type="submit" name="invite_id" value="{{ n.id }}"
                            class="notification-btn btn-accept">
                        <ion-icon class="icon" name="checkmark-outline"></ion-icon>
                    </button>
                </form>
                <form action="{{ url_for("decline_invitations") }}" method="post"
                      class="notification-form">
                     <input type="hidden" name="next_url" value="/notification">
                    <button type="submit" name="invite_id" value="{{ n.id }}"
                            class="notification-btn btn-decline">
                        <ion-icon class="icon" name="close-outline"></ion-icon>
                    </button>
                </form>
            </div>

        {% elif type == "messages" %}
            <div class="description">
                {% if n.link %}<a href="{{ n.link }}">{{ n.body }}</a>
                {% else %}<span>{{ n.body }}</span>{% endif %}
            </div>
            <div class="action">
                <form action="{{ url_for("mark_message_as_read") }}" method="post"
                  class="notification-form mark_as_read">
                    <input type="hidden" name="next_url" value="/notification">
                    <button type="submit" name="message_id" value="{{ n.id }}"
                            class="notification-btn btn-read">
                        <ion-icon class="icon" name="eye-outline"></ion-icon>
                    </button>
                </form>
            </div>
        {% endif %}

    </div>
{% endfor %}
