<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button class="open-button" onclick="openForm()">Go to a specific date</button>
    <div class="form-popup" id="myForm">
        <form action="/" class="form-container">
      
          <label for="date"><b>Enter the date in the following format: dd.mm.yyyy:</b></label>
          <input type="text" placeholder="Enter date" name="date" required>

      
          <button type="submit" class="btn">Submit</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>


    <script src="{{ url_for('static', path='/popup.js') }}"></script>
</body>
</html>