<div class="card card-profile">
  <div class="card-body">

    <p class="card-title">
      {{ gettext("Explore more features") }}
    </p>

    <ul class="list-group">

      {% if not user.telegram_id %}
      <li class="list-group-item list-group-item-action no-border">
        <a class="text-decoration-none text-success" href="https://t.me/pylendar_bot" target="_blank">
          <strong>{{ gettext("Try PyLendar bot") }}</strong>
        </a>
      </li>
      {% endif %}


      <li class="list-group-item list-group-item-action no-border">
        <a class="text-decoration-none text-secondary" href="{{ url_for("import_holidays") }}">{{ gettext("Add holidays to calendar") }}</a>
      </li>

      {% if not google_error %}
      <li class="list-group-item list-group-item-action no-border">
        <a class="text-decoration-none text-secondary" href="{{ url_for("google_sync") }}">{{ gettext("Sync with Google") }}</a>
      </li>
      {% endif %}

      <!-- Export Calendar -->
      <li class="list-group-item list-group-item-action no-border">
        {% include "partials/user_profile/sidebar_left/features_card/export_calendar.html" %}
      </li>

    </ul>
  </div>
</div>
