<div class="form_row">
  <input type="text" name="title" placeholder="Event Title" required>
</div>

<div class="form_row">
  <input type="date" name="start_date" placeholder="Start Date" required>
  <input type="time" name="start_time" placeholder="Start Time" required>
</div>

<div class="form_row">
  <input type="date" name="end_date" placeholder="End Date" required>
  <input type="time" name="end_time" placeholder="End Time" required>
</div>

<div class="form_row">
    <label for="location">Location </label>
    <input type="text" id="location" name="location" placeholder="Location">
</div>

<div class="form_row">
    <label for="vc_link">VC link: </label>
    <input type="text" id="vc_link" name="vc_link" placeholder="VC URL">
</div>

<div class="form_row">
  <label for="invited">Invited emails: </label>
  <input type="text" id="invited" name="invited" placeholder="Invited emails, separated by commas">
</div>

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#SharedListCollapse" aria-expanded="false" aria-controls="SharedListCollapse">
    Add a shared list
  </button>
</p>
<div class="collapse" id="SharedListCollapse">
  <div class="card card-body" id="SharedList">
    <input type="text" class="form-control" name="shared_list_title" placeholder="Title">
    <div id="Items">
      <div class="form_row" id="Item">
        <input type="text" class="form-control" name="item_name" placeholder="Item name">
        <input type="text" class="form-control" name="item_amount" placeholder="Amount">
        <input type="text" class="form-control" name="item_participant" placeholder="Participant">
        <button type="button" class="btn btn-labeled btn-danger" id="btnRemoveItem" onclick="removeItem(this.id)">
            <span class="btn-label"><i class="fa fa-minus-circle"></i></span>
        </button>
      </div>
    </div>
    <button class="btn btn-primary" id="btnAddItem" type="button" onclick="addItem()">
      Add an item
    </button>
  </div>
</div>

<div class="form_row textarea">
  <textarea name="description" placeholder="Description"></textarea>
</div>

<div class="form_row">
  <div class="form_row_start">
    <select name="color">
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
    </select>
  </div>

  <div class="form_row_end">
      <select name="availability">
          <option value="False">Free</option>
          <option value="True" selected>Busy</option>
      </select>
      <select name="privacy">
          <option value="private">Private</option>
          <option value="public" selected>Public</option>
      </select>
  </div>
</div>

<script>
  var items_num = 1;

  function addItem() {
    var item = document.getElementById("Item").cloneNode(true);
    item.style.display = "flex";
    item.childNodes[7].id += String(items_num);
    item.id = item.id + String(items_num);
    items_num++;
    for (i = 0; i < item.children.length; i++ ) {
      console.log(item.children[i]);
      if (item.children[i].tagName == 'INPUT') {
        item.children[i].setAttribute('required', 'required');
      }
    }
    document.getElementById("Items").appendChild(item);
  }

  function removeItem(clicked_id) {
    document.getElementById(clicked_id).parentElement.remove();
    items_num--
  }
</script>
