<div class="form_row">
  <input type="text" name="title" placeholder="Event Title" required>
</div>

<div class="form_row">
  <input type="date" name="start_date" placeholder="Start Date" required>
  <input type="time" name="start_time" placeholder="Start Time" required>
</div>

<div class="form_row">
  <input type="date" name="end_date" placeholder="End Date" required>
  <input type="time" name="end_time" placeholder="End Time" required>
</div>

<div class="form_row">
  <select name="location_type" required>
    <option value="" disabled selected>Type</option>
    <option value="vc_url">VC URL</option>
    <option value="address">Address</option>
  </select>
  <input type="text" name="location" placeholder="VC URL/Location">
</div>

<div class="form_row">
  <label for="invited">Invited emails: </label>
  <input type="text" id="invited" name="invited" placeholder="Invited emails, separated by commas">
</div>

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#SharedListCollapse" aria-expanded="false" aria-controls="SharedListCollapse">
    Add a shared list
  </button>
</p>
<div class="collapse" id="SharedListCollapse">
  <div class="card card-body" id="SharedList">
    <input type="text" class="form-control" name="shared_list_title" placeholder="Title">
    <div id="Items">
      <div class="form_row" id="Item">
        <input type="text" class="form-control" name="item_name" placeholder="Item name" required>
        <input type="text" class="form-control" name="item_amount" placeholder="Amount" required>
        <input type="text" class="form-control" name="item_participant" placeholder="Participant" required>
        <button type="button" class="btn btn-labeled btn-danger" id="btnRemoveItem">
            <span class="btn-label"><i class="fa fa-minus-circle"></i></span>
        </button>
      </div>
    </div>
    <button class="btn btn-primary" id="btnAddItem" type="button">
      Add an item
    </button>
  </div>
</div>

<div class="form_row textarea">
  <textarea name="description" placeholder="Description"></textarea>
</div>

<div class="form_row">
  <div class="form_row_start">
    <select name="color">
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
    </select>
  </div>

  <div class="form_row_end">
      <select name="availability">
          <option value="False">Free</option>
          <option value="True" selected>Busy</option>
      </select>
      <select name="privacy">
          <option value="private">Private</option>
          <option value="public" selected>Public</option>
      </select>
  </div>
</div>

<script>
  var item_id = 0;
  $("#btnAddItem").click(function () {
    // item_id++;
    $("#Item").clone(false).appendTo("#Items");
    // ele.attr("id", "Item" + item_id);
  });
</script>
<script>
  $("#btnRemoveItem").click(function() {
    $(this).closest('div').remove();
  });
</script>
