<div class="form_row">
  <input type="text" name="title" placeholder="Event Title" required>
</div>

<div class="form_row">
  <input type="date" name="start_date" placeholder="Start Date" required>
  <input type="time" name="start_time" placeholder="Start Time" required>
</div>

<div class="form_row">
  <input type="date" name="end_date" placeholder="End Date" required>
  <input type="time" name="end_time" placeholder="End Time" required>
</div>

<div class="form_row">
    <label for="location">Location </label>
    <input type="text" id="location" name="location" placeholder="Location">
</div>

<div class="form_row">
    <label for="vc_link">VC link: </label>
    <input type="text" id="vc_link" name="vc_link" placeholder="VC URL">
</div>

<div class="form_row">
  <label for="invited">Invited emails: </label>
  <input type="text" id="invited" name="invited" placeholder="Invited emails, separated by commas">
</div>


<div class="form_row textarea">
  <textarea name="description" placeholder="Description"></textarea>
</div>


<div class="form_row">
  <label for="event_type">Create event as all-day?</label>
  <select name="event_type" required>
      <option value="" disabled selected>All Day</option>
      <option value="on">Yes</option>
      <option value="off">No</option>
  </select>
</div>


<div class="form_row">
  <div class="form_row_start">
    <select name="color">
      <option value="red">Red</option>
      <option value="green">Green</option>
      <option value="blue">Blue</option>
    </select>
  </div>


    <div class="form_row_end">
        <select name="availability">
            <option value="False">Free</option>
            <option value="True" selected>Busy</option>
        </select>
        <select name="privacy">
            <option value="private">Private</option>
            <option value="public" selected>Public</option>
        </select>
    </div>
</div>