<div class="event_info_row title">
    <div class="event_info_row_start">
        <h1>EVENT TITLE</h1>
    </div>
    <div class="event_info_row_end">
        <span class="icon">AVAILABILITY</span>
        <span class="icon">PRIVACY</span>
    </div>
</div>
<div class="event_info_row">
    <span class="icon">ICON</span>
    <time datetime="DD/MM/YYYY HH:MI">DAY, DD/MM/YYYY HH:MI</time>
    -
    <time datetime="DD/MM/YYYY HH:MI">HH:Mi</time>
</div>

<div class="event_info_row">
    <span class="icon">ICON</span>
    <span>Repeats every INTERVAL</span>
</div>

<div class="event_info_row">
    <span class="icon">ICON</span>
    <address>LOCATION / <a href="#">VC URL</a></address>
</div>

<p class="event_info_row">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus consectetur quis ex ac molestie. Fusce libero
    ligula, dictum ac sollicitudin sed, consequat in nisi. Suspendisse feugiat diam quis efficitur aliquet. Duis purus
    mauris, luctus ultrices dictum id, fermentum et ex. Nunc in elementum mauris. Maecenas at tincidunt lorem. Sed quis
    ante commodo, tincidunt tortor at, tristique nisl. Donec at velit ultricies, viverra tellus at, ultrices ligula.
</p>
