<div class="card card-event mb-2 pb-0">
  <div class="card-header d-flex justify-content-between">
    <small><i>Upcoming event on {{ event.start.strftime("%d/%m/%Y %H:%M") }} </i></small>
    <!-- Event settings -->
    {% include 'partials/user_profile/middle_content/event_settings.html' %}
  </div>

  <div class="card-body pb-1">
    <p class="card-text">
      {{ event.title }} - {{ event.content if event.content is not none }}
    </p>
    <hr class="mb-0">
    <a href="/event/{{ event.id }}">{{ event.title }} details</a>
  </div>
</div>