<div class="modal modal-bg" id="keyboard-shortcuts" tabindex="-1" data-bs-backdrop="static"
     aria-labelledby="keyboard-shortcuts-content-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Keyboard Shortcuts</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <thead>
          <tr>
            <th scope="col">Action</th>
            <th scope="col">Shortcut</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Open Home</td>
            <td>Press Alt+C+H</td>
          </tr>
          <tr>
            <td>Open Profile</td>
            <td>Press Alt+C+P</td>
          </tr>
          <tr>
            <td>Open Agenda</td>
            <td>Press Alt+C+A</td>
          </tr>
          <tr>
            <td>Open Audio Settings</td>
            <td>Press Alt+C+U</td>
          </tr>
          <tr>
            <td>Open Search</td>
            <td>Press Alt+C+S</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
