<div class="modal modal-bg" id="update-event-content" tabindex="-1" data-bs-backdrop="static"
     aria-labelledby="update-event-content-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Update Event</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="editorSection">{{ event.content }}</div>
        <button class="btn btn-sm btn-success" id="but">Save Changes</button>
        <!--  TODO usage of update event, WAITING FOR FUNCTION -->
      </div>
    </div>
  </div>
</div>