{% extends "partials/calendar/calendar_base.html" %}
{% block head %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', path='/images/icons/calendar-outline.svg') }}" />
    
<!-- CSS -->
<link href="{{ url_for('static', path='/notes.css') }}" rel="stylesheet" type="text/css">

<!-- Scripts -->
<!-- <script src="{{ url_for('static', path='/js/grid_scripts.js') }}"></script> -->
{% endblock head %}

{% block page_name %}Note Details{% endblock page_name %}
{% block content %}

<section class="Form my-4 mx-5">
    <div class="row g-0">
        <div class="col-lg-5">
            <img src="{{ url_for('static', path='/images/notes/notes.jfif') }}" class="img-fluid" alt="nice-pic">
        </div>
        <div class="col-lg-7 px-5 pt-3">
            <h1 class="font font-bold">Update a note...</h1>
            <form action="/notes/view/{{ data.id }}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-row">
                    <div class="col-lg-7">
                        <input class="form-control my-3 p-3" type="text" value={{ data.title }} name="title" id="title">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-7">
                        <input class="form-control my-3 p-3" type="text" value={{ data.description }} name="description"
                            id="description">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-7">
                        <button type="submit" class="btn1 mt-2 mb-4">Submit Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}