{% extends "partials/calendar/calendar_base.html" %}
{% block head %}
{{ super() }}
<link rel="icon" href="{{ url_for('static', path='/images/icons/calendar-outline.svg') }}" />

<!-- CSS -->
<link href="{{ url_for('static', path='/notes.css') }}" rel="stylesheet" type="text/css">
{% endblock head %}

{% block page_name %}Manage Notes{% endblock page_name %}
{% block content %}

<section>
    <div class="container">
        <div class="table-wrapper">
            <div class="row">
                <div class="table-title">
                    <div class="col-sm-6">
                        <h1 class="font font-bold py-3">Manage Notes</h1>
                    </div>
                    <div class="col-sm-12">
                        <a class="btn btn-success" href="/notes/add" role="button">
                            <ion-icon name="add-circle-outline"></ion-icon>Add New
                            Note
                        </a>
                    </div>
                </div>
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Updated on</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td>{{ row['id']}}</td>
                            <td>{{ row['title']}}</td>
                            <td>{{ row['description']}}</td>
                            <td>{{ row['timestamp']}}</td>
                            <td class="float-right">
                                <a href="/notes/view/{{ row['id'] }}" title="Edit" class="action-icon">
                                    <ion-icon name="pencil-outline"></ion-icon>
                                </a>
                                <a href="/notes/delete/{{ row['id'] }}" title="Delete" class="action-icon">
                                    <ion-icon name="trash-outline"></ion-icon>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation - TBD">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">1</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}