<div class="form_row">
   <input id="say" type="text" name="title" placeholder="Event Title" required>
   <input type="button" id="speak" name="speak" value="Speak it!">
</div>
<div class="form_row">
    <!-- Voices gets its own row for being so wide! -->
  <div class="field" id="voices">
    <label for="voice">{{ gettext("Voice") }}</label>
    <select id="voice" name="voice"></select>
  </div>
  <div class="field">
    <label for="volume">{{ gettext("Volume") }}</label>
    <input type="range" id="volume" name="volume" min="0" max="1" step="0.01" value="0.5">
    <output for="volume"></output>
  </div>
  <div class="field">
    <label for="pitch">{{ gettext("Pitch") }}</label>
    <input type="range" id="pitch" name="pitch" min="0" max="2" step="0.01" value="1">
    <output for="pitch"></output>
  </div>
  <div class="field">
    <label for="rate">{{ gettext("Rate") }}</label>
    <input type="range" id="rate" name="rate" min="0.1" max="10" step="0.1" value="1">
    <output for="rate"></output>
  </div>
</div>

<div class="form_row">
  <label for="start_date">{{ gettext("Start date:") }}</label>
  <input id="start_date" type="date" name="start_date" placeholder={{ gettext("Start date") }} required>
  <label for="start_time">{{ gettext("Start time:") }}</label>
  <input id="start_time" type="time" name="start_time" placeholder={{ gettext("Start time") }} required>
</div>

<div class="form_row">
  <label for="end_date">{{ gettext("End date:") }}</label>
  <input id="end_date" type="date" name="end_date" placeholder={{ gettext("End date") }} required>
  <label for="end_time">{{ gettext("End time:") }}</label>
  <input id="end_time" type="time" name="end_time" placeholder={{ gettext("End time") }} required>
</div>

<div class="form_row">
   <label for="location">{{ gettext("Location") }}</label>
   <input type="text" id="location" name="location" placeholder={{ gettext("Location") }}>
</div>

<div class="form_row">
   <label for="vc_link">VC link: </label>
   <input type="text" id="vc_link" name="vc_link" placeholder="VC URL">
</div>

<div class="shared_list" id="shared-list">
  <div class="card card-body" id="shared-list-card">
    <input type="text" class="form-control" name="shared-list-title" placeholder={{ gettext("Title") }}>
    <div id="items"></div>
    <div id="hidden">
      <div class="form_row shared-list-item-off" id="shared-list-item">
        <label for="item_name">Item name:</label>
        <input type="text" class="form-control" name="item-name" placeholder={{ gettext("Item name") }}>
        <label for="item_amount">Amount:</label>
        <input type="text" class="form-control" name="item-amount" placeholder={{ gettext("Amount") }}>
        <label for="item_participant">Participant:</label>
        <input type="text" class="form-control" name="item-participant" placeholder={{ gettext("Participant") }}>
        <button type="button" class="btn btn-labeled btn-danger remove-btn" id="btn-remove-item">
          <i id="btn-remove-label" class="fa fa-minus-circle"></i>
        </button>
      </div>
    </div>
    <button class="btn btn-primary" id="btn-add-item" type="button">
      {{ gettext("Add an item") }}
    </button>
  </div>
</div>


<div class="form_row">
   <label for="invited">{{ gettext("Invited emails:") }}</label>
   <input type="text" id="invited" name="invited" placeholder={{ gettext("Invited emails, separated by commas") }}>
</div>

<div class="form_row">
    <label for="event_img">{{ gettext("Image:") }}</label>
    <input type="file" id="event_img" name="event_img"
          accept="image/png, image/jpeg">
</div>

<div class="form_row textarea">
  <textarea id="say" name="description" placeholder={{ gettext("Description:") }}></textarea>
</div>

<div class="form_row">
  <div class="form_row_start">
    <label for="color">{{ gettext("Color:") }}</label>
    <select id="color" name="color">
      <option value="red">{{ gettext("Red") }}</option>
      <option value="green">{{ gettext("Green") }}</option>
      <option value="blue">{{ gettext("Blue") }}</option>
    </select>
  </div>

  <div class="form_row_end">
    <label for="event_type">{{ gettext("All-day:") }}</label>
    <select id="event_type" name="event_type" required>
      <option value="on">{{ gettext("Yes") }}</option>
      <option value="off" selected>{{ gettext("No") }}</option>
    </select>

    <label for="availability">{{ gettext("Availability:") }}</label>
    <select id="availability" name="availability">
         <option value="True">{{ gettext("Free") }}</option>
         <option value="False" selected>{{ gettext("Busy") }}</option>
    </select>

    <label for="privacy">{{ gettext("Privacy:") }}</label>
    <select id="privacy" name="privacy">
      <option value="{{ privacy.Private.name }}">{{ privacy.Private.name }}</option>
      <option value="{{ privacy.Public.name }}" selected>{{ privacy.Public.name }}</option>
      <option value="{{ privacy.Hidden.name }}">{{ privacy.Hidden.name }}</option>
    </select>

    <label for="user_categories">Category</label>
    <select id="categories" name="the_categories">
        {% if categories_list[0] is defined %}
            <option style="color:#{{categories_list[0]["color"] |safe }}" value="{{categories_list[0]["name"] |safe }}" selected>{{categories_list[0]["name"] |safe }}</option>
        {% endif %}
        {% if categories_list[1] is defined %}
            {% for category in categories_list[1:] %}
                <option style="color:#{{category["color"] |safe }}" value="{{category["name"] |safe }}" selected>{{category["name"] |safe }}</option>
            {% endfor %}
        {% endif %}
    </select>

    <label for="is_google_event">{{ gettext("Google event:") }}</label>
    <select id="is_google_event" name="is_google_event">
      <option value="True">{{ gettext("Yes") }}</option>
      <option value="False" selected>{{ gettext("No") }}</option>
    </select>

  </div>
</div>
