<div class="event_info_row title" style="border-bottom: 4px solid {{ event.color }}">
    <div class="event_info_row_start">
        <h1>{{ event.title }}</h1>
    </div>
    <div class="event_info_row_end">
        <!--        <span class="icon">AVAILABILITY</span>-->
        <!--        <span class="icon">PRIVACY</span>-->
    </div>
</div>
<div class="event_info_row">
    <span class="icon">ICON</span>
    <time datetime="{{ event.start }}">{{ event.start.strftime(start_format )}}</time>
    {% if end_format != "" %}
    -
    <time datetime="{{event.end}}">{{event.end.strftime(end_format)}}</time>
    {% endif %}
    <div>{{ 'Busy' if event.availability == True else 'Free' }}</div>
</div>

<!--<div class="event_info_row">-->
<!--    <span class="icon">ICON</span>-->
<!--    <span>Repeats every INTERVAL</span>-->
<!--</div>-->

<div class="event_info_row">
  <span class="icon">ICON</span>
  <address>{{ event.location }}</address>
  <address>VC link<a href="{{ event.vc_link }}">VC URL</a></address>
</div>
{% if event.invitees %}
<form method="POST" action="/event/{{event.id}}/owner">
    <div class="mb-3"></div>
    <label for="username">{{ gettext('Choose user') }}</label>
    <select id="username" name="username">
        {% for username in event.invitees.split(',') %}
      <option value="{{username}}">{{username}}</option>
      {% endfor %}
    </select>
    <input type="submit" class="btn btn-primary" value="Change owner">
</form>
{% endif %}
<p class="event_info_row">
    {{event.owner.username}}
</p>

<div class="event_info_buttons_row event_info_row_end">
    <!-- Buttons could and should be replaced with button-like anchors if need so -->
    <button type="button">Duplicate</button>
    <button type="button">Edit</button>
</div>
