{% for week in weeks_block %}
  <div class="week">
    {% for day in week.days %}
      <div class="{{ day.css['day_container'] }}" id="{{ day.set_id() }}">
        <div class="month-day-header">
          <div class="{{ day.css['date'] }}">{{ day }}</div>
          <div><a href="#" class="add-small">+</a></div>
        </div>
        {% for devent in day.dailyevents %}
          <div class="{{ day.css['daily_event'] }}">
            <div class="{{ day.css['daily_event_front'] }}">{{ devent[0] }}</div>
            <div class="{{ day.css['daily_event_back'] }}">{{ devent[1] }}</div>
          </div>
        {% endfor %}
        {% for event in day.events %}
          <div class="{{ day.css['event'] }}"><b>{{ event[0] }}</b> {{ event[1] }}</div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endfor %}