<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Go_to_date</title>
</head>
<body>
    <h1>id: {{ id }}</h1>
    <button class="open-button" onclick="openForm()">Go to specific date</button>

    <div class="form-popup" id="myForm">
      <form action="/go_to_date/process" class="form-container">
        <h1>Enter the date in the format: dd.mm.yyyy</h1>
        <input type="text" placeholder="Enter date" name="date" required>
    
        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
    <script src="{{url_for('static', path='popup.js')}}"></script>

</html>
