html,
body {
  height: 100%;
  min-width: min-content;
  max-width: -moz-available;
  max-width: -webkit-fill-available;
  max-width: fill-available;
}

body {
  display: flex;
  flex-direction: column;
}

#event_edit_tabs {
  flex: 1;
}

.tab-pane {
  height: 100%;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.form_row,
.form_row_start,
.form_row_end,
.user_categories {
  display: flex
}

.form_row_start,
.form_row_end,
.user_categories {
  flex: 1;
}

.form_row_end {
  justify-content: flex-end;
}

.form_row {
  flex: 1;
  min-height: 2.25em;
  max-height: 3.25em;
}

.form_row.textarea {
  flex: 4;
  max-height: 19em;
}

input[type="text"],
input[type="date"],
textarea,
.form_row_start {
  flex: 1;
}

input[type="submit"] {
  width: 100%;
}

.countries-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0 , 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0, 5s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.countries-modal {
  position: relative;
  background-color: whitesmoke;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em 4em;
  border-radius: 0.3em;
  box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: opacity 0.3s ease;
  z-index: 100;
}

.check-time {
  padding: 0.7em 1em;
  background-color: rgba(73, 65, 65, 0.842);
  color: white;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

.check-time:hover {
  background-color: rgba(112, 108, 108, 0.842);
  border: none;
}

.close-countries-modal {
  position: absolute;
  color: rgba(73, 65, 65, 0.842);
  top: 1em;
  right: 1em;
  font-weight: bold;
}

.close-countries-modal:hover {
  color: brown;
  cursor: pointer;
}

#countries-datalist {
  margin: 1em 0;
  padding: 0.7em 1em;
  border: 0.1em solid rgba(73, 65, 65, 0.842);
  border-radius: 0.3em;
}

#countries-datalist:hover {
  background-color:aliceblue;
}

.empty-fields-error {
  color: brown;
}

.empty-fields-error-disappear {
  display: none;
}

.results {
  color: rgb(9, 65, 65);
  margin-bottom: 1em;
  font-weight: bold;
}

.icon-credits,
.icon-credits a:link,
.icon-credits a:visited,
.icon-credits a:hover,
.icon-credits a:active {
  color: rgb(202, 202, 202);
}

.shared-list-item-off {
  display: none;
}

.shared-list-item-on {
  display: flex;
}
