html,
body {
	height: 100%;
	min-width: min-content;
	max-width: -moz-available;
	max-width: -webkit-fill-available;
	max-width: fill-available;
}

body {
	display: flex;
	flex-direction: column;
}

.event_view_wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#event_view_tabs {
	flex: 1;
}

.tab-pane {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.event_info_row,
.event_info_row_start,
.event_info_row_end {
	display: flex
}

.event_info_row_start,
.event_info_row_end {
	flex: 1;
}

.event_info_row_end {
	justify-content: flex-end;
}

div.event_info_row,
.event_info_buttons_row {
	align-items: center;
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
}

.title {
	border-bottom: 4px solid blue;
}

.title h1 {
	white-space: nowrap;
	margin-block-start: 0.2em;
	margin-block-end: 0.2em;
	padding-right: 0.5em;
}

.icon {
	padding-right: 1em;
}

.event_info_buttons_row {
	min-height: 2.25em;
	max-height: 3.25em;
}

button {
	height: 100%;
}