html,
body {
	height: 100%;
	min-width: min-content;
	max-width: -moz-available;
    max-width: -webkit-fill-available;
    max-width: fill-available;
}

body {
	display: flex;
	flex-direction: column;
}

#event_edit_tabs {
	flex: 1;
}

.tab-pane {
	height: 100%;
	display: flex;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.form_row,
.form_row_start,
.form_row_end {
	display: flex
}

.form_row_start,
.form_row_end {
	flex: 1;
}

.form_row_end {
    justify-content: flex-end;
}

.form_row {
	flex: 1;
	min-height: 2.25em;
	max-height: 3.25em;
}

.form_row.textarea {
	flex: 4;
	max-height: 19em;
}

input[type="text"],
input[type="date"],
textarea,
.form_row_start {
	flex: 1;
}

input[type="submit"] {
	width: 100%;
}