{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <link href="{{ url_for('static', path='/agenda_style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
  <form method="GET" action="/agenda#dates" class="mx-3 pt-3">
    <div class="col-sm-3">
      <label for="start_date">{{ gettext("From") }}</label>
      <input class="form-control" type="date" id="start_date" name="start_date" value='{{ start_date }}'>
    </div>
    <div class="col-sm-3">
      <label for="end_date">{{ gettext("To") }}</label>
      <input class="form-control" type="date" id="end_date" name="end_date" value='{{ end_date }}'><br>
    </div>
    <div>
      <input class="btn btn-primary btn-sm" type="submit" value="{{ gettext('Get Agenda') }}">
    </div>
  </form>

  <div class="exact_date pt-3">
    <div class="mx-3">
      <a class="btn btn-light btn-outline-primary btn-sm" href="/agenda?days=0#dates">{{ gettext("Today") }}</a>
    </div>
    <div class="mx-3">
      <a class="btn btn-light btn-outline-primary btn-sm" href="/agenda?days=7#dates">{{ gettext("Next 7 days") }}</a>
    </div>
    <div class="mx-3">
      <a class="btn btn-light btn-outline-primary btn-sm" href="/agenda?days=30#dates">{{ gettext("Next 30 days") }}</a>
    </div>
  </div>

  <div class="pt-4 px-5">
    {% if start_date > end_date %}
      <p>{{ gettext("Start date is greater than end date") }}</p>
    {% elif events | length == 0 %}
      <p>{{ gettext("No events found...") }}</p>
    {% elif start_date == end_date %}
      <h1 id="dates">{{ start_date.strftime("%d/%m/%Y") }}</h1>
    {% else %}
      <h1 id="dates">{{ start_date.strftime("%d/%m/%Y") }} - {{ end_date.strftime("%d/%m/%Y") }}</h1>
    {% endif %}
  </div>

  <div>
    {% for events_date, events_list in events.items() %}

    <div class="p-3">{{ events_date.strftime("%d/%m/%Y") }}</div>
      {% for event in events_list %}
      <div class="event_line" style="background-color: {{ event[0].color }}">
          {% set availability = 'Busy' if event[0].availability == True else 'Free' %}
          <div class="{{ availability | lower }}" title="{{ availability }}"></div>
          <div><b>{{ event[0].start.time().strftime("%H:%M") }} - <a class="event-title" href="/event/{{ event[0].id }}">{{ event[0].title | safe }}</a></b><br>
          <span class="duration">duration: {{ event[1] }}</span>
          </div>
      </div>
      {% endfor %}
    {% endfor %}
  </div>

{% endblock %}