{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', path='/agenda_style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<form method="GET" action="/agenda">
    <div class="mb-3 agenda_filters"> 
        <label for="start_date">From</label><br>
        <input class="filter" type="date" id="start_date" name="start_date" value={{ start_date }}><br>
        <label for="end_date">To</label><br>
        <input class="filter" type="date" id="end_date" name="end_date" value={{ end_date }}><br>
        <input class="filter" type="submit" value="Get Agenda">
    </div>
</form>
<div class="exact_date">
    <div>
        <a class="btn agenda_button" href="/agenda?days=0">Today</a>
    </div>
    <div>
        <a class="btn agenda_button" href="/agenda?days=7">Next Week</a>
    </div>
    <div>
        <a class="btn agenda_button" href="/agenda?days=30">Next Month</a>
    </div>
</div>


<div class="container mt-4">
    {% if start_date > end_date %}
        <p>Start date is greater than end date</p>
    {% elif events | length == 0 %}
        <p>No events found...</p>
    {% elif start_date == end_date %}
        <h1>{{ start_date.strftime("%d/%m/%Y") }}</h1>
    {% else %}
        <h1>{{ start_date.strftime("%d/%m/%Y") }} - {{end_date.strftime("%d/%m/%Y") }}</h1>
    {% endif %}
</div>
    
<div>
    {% for events_date, events_list in events.items() %}
    <div class="shown_dates">{{ events_date.strftime("%d/%m/%Y") }}</div>
        {% for event in events_list %}
        <div class="event_line"> {{ event[0].start.time().strftime("%H:%M") }} - {{ event[0].title }} , duration: {{ event[1] }}</div>
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}
