{% extends "./partials/notification/base.html" %}
{% block page_name %}{{ gettext("Archived notifications") }}{% endblock page_name %}

{% block description %}
  <div class="title">{{ gettext("Archived notifications") }}</div>
{% endblock description %}

{% block notifications %}
    {% include "./partials/notification/generate_archive.html" %}
{% endblock notifications %}

{% block no_notifications_msg %}
    <span>{{ gettext("You don't have any archived notifications.") }}</span>
{% endblock no_notifications_msg %}
