{% extends "base.html" %} {% block content %}
<div class="container mt-4">
    <h1>Audio Settings</h1>
    <form action="{{ url_for('get_choices') }}" style="width: 200px; margin: autio" method="post" id="form1">
        <div class="form-outline">
            <label>Music:</label>
            <input type="radio" id="Music_On" name="music_on" value="True" class="form-check-input">
            <label for="Music_On" class="form-check-label">On</label>
            <input type="radio" id="Music_Off" name="music_on" value="False" checked class="form-check-input">
            <label for="Music_Off" class="form-check-label">Off</label>
        </div>
        <br>
        <label for="music">Select music tracks:</label> <br> {% for song in songs %}
        <div class="form-outline">
            <input type="checkbox" class="music form-check-input" name="music_choices" value="{{song.name}}.mp3" disabled>
            <label for="music" class="form-check-label">{{song.name}}</label><br> {% endfor %}
        </div>
        <br>
        <label>Volume</label>
        <input id="rangeInput_music" type="range" min="0" max="100" name="music_vol" disabled>
        <br>
        <div class="form-outline">
            <label>Sound Effects:</label>
            <input type="radio" id="Sound_Effects_On" name="sfx_on" value="True" class="form-check-input">
            <label for="Sound_Effects_On" class="form-check-label">On</label>
            <input type="radio" id="Sound_Effects_Off" name="sfx_on" value="False" checked class="form-check-input">
            <label for="Sound_Effects_Off" class="form-check-label">Off</label>
        </div>
        <br>
        <label for="Sound Effect">Select sound effect:</label> <br>
        <select name="sfx_choice" style="width: 80px; height: 40px; margin-top: 5px;" id="sfx" disabled class="form-control"> 
        {% for sfx in sound_effects %}
        <option value="{{sfx.name}}.wav">{{sfx.name}}</option>
        {% endfor %}
        </select>
        <br>
        <label>Volume</label>
        <input id="rangeInput_sfx" type="range" min="0" max="100" name="sfx_vol" disabled>
        <br>
        <button id="activate" type="submit" form="form1" class="btn btn-primary">
        Activate
        </button>
        <br>
    </form>
</div>

{% endblock %}