{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="{{ url_for('static', path='/categories_style.css') }}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container mt-4">
<h1>It's time to make some decisions</h1>
<h1>
  Here you can create your unique categories and choose your favorite color
</h1>

<form action="/categories" method="POST" required>
  <label for="category_name">Name your category:</label>
  <p><input type="text" id ="name" name="name"></p>
  <label for="category_color">Choose your favorite color:</label>
  <p><input type="color"  class="custom" id ="color", name="color"></p>
  <p><button type="submit" class="btn btn-success" value="submit">Submit</button></p>
</form>
</div>
{% if message %}
  <div class="container mt-4">
      <p>{{ message }}</p>
  </div>
{% endif %}

{% endblock %}