{% extends "base.html" %}

{% block content %}

  <div class="container mt-4">
    <div class="my-4">
      <h5>Celebrities born today ({{ date }}):</h5>
    </div>
    <div class="col-lg-12">
      <div id="celebCards" class="card-deck celebs" data-today="{{ date | safe }}">
        <div class="spinner-border" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="{{ url_for('static', path='/celebrity.css') }}">
  <script type="text/javascript" src="{{ url_for('static', path='/celebrity.js') }}"></script>
{% endblock %}