<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', path='/dayview.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Assistant&family=Open+Sans&family=Roboto&family=Roboto+Condensed&display=swap"
          rel="stylesheet">
    <title>dayview</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
            function openEditModal(taskId, taskTime, taskTitle, taskDescription, taskImportant){
                $('#Modal').modal("toggle");
                $('#editTaskId').val(taskId);
                $('#customerTime2').val(taskTime);
                $('#customerTitle2').val(taskTitle);
                $('#customerDescrip2').val(taskDescription);
                $('#isImportant2').prop('checked', taskImportant);
                $('#editModal').modal("toggle");
            }

            function deleteModal() {
                var taskId = $('#editTaskId').val();
                $('#deleteTaskId').val(taskId);
                $('#deleteTaskForm').submit();
            }

    </script>
</head>
<body>
<div id="toptab" class="d-flex justify-content-around sticky-top">
    {% if view == 'day' %}
    <a href="/closethedayview" title="close day view"><img class="pb-1"
                                                           src="{{ url_for('static', path='/images/icons/close_sidebar.svg')}}"
                                                           width="15em"
                                                           height="15em"></a>
    <span id="month-num" class="month-num fw-bold text-white">{{month}}</span>
    <span id="day-num" class="day-num fw-bold text-white">{{day}}</span>
    {% if zodiac %}
    <div class="zodiac-sign">
        <a href="https://www.horoscope.com/zodiac-signs/{{zodiac.name}}"
           title="Zodiac-sign: {{zodiac.name}}" target="_blank"><img
                src="{{ url_for('static', path='/images/zodiac/' + zodiac.name + '.svg') }}"
                alt="zodiac sign" width="14em" height="13em"></a>
    </div>
    {% endif %}
    {% else %}
    <span class="fw-bold text-white date-nums">{{day}} / {{month}}</span>
    {% endif %}
</div>
<button type="button" class="open-button" data-bs-toggle="modal"
        data-bs-target="#exampleModal">
    Create Task
</button>
<button type="button" class="open-button" data-bs-toggle="modal"
        data-bs-target="#Modal">
    Todo-List
</button>
<!-- Modal -->
<div class="todo-style">
    <div class="modal fade" id="exampleModal" tabindex="-1"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background: #30465D">
                    <h1 class="day fw-bold text-white" id="exampleModalLabel">
                        Add Task</h1>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form action="/task/add" method="post">
                    <div class="modal-body">
                        <input type="hidden" value="{{datestr}}"
                               name="datestr">
                        <label for="customerTime">Select
                            Hour:<em>&#x2a;</em></label>
                        <input id="customerTime" name="timestr" required=""
                               type="time">
                        <label for="customerTitle">Title:<em>&#x2a;</em></label>
                        <input id="customerTitle" name="title" required=""
                               type="text" maxlength="10">
                        <textarea placeholder="Description:"
                                  id="customerDescrip" name="description"
                                  required="" type="text"></textarea>
                        <label>Is important?</label>
                        <input id="isImportant" name="is_important"
                               type="checkbox">
                    </div>
                    <div class="modal-footer">
                        <button class="sub-button" type="submit" value="Submit"
                        >Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="Modal" tabindex="-1"
         aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background: #30465D">
                    <h1 class="day fw-bold text-white" id="ModalLabel">Todo
                        List</h1>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body" id="table">
                    <table id="customerDone">
                        <thead>
                        <th>Time</th>
                        <th>Task</th>
                        <th>Description</th>
                        <th>Is Done?</th>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                        {% if task.is_important %}
                        <tr style="border-bottom: 5px solid blue">
                            {% else %}
                        <tr>
                            {% endif %}
                            <td>{{task.time}}</td>
                            <td>{{task.title}}</td>
                            <td>{{task.description}}</td>
                            {% if task.is_done %}
                            <td>
                                <form action="/task/setUndone/{{task.id}}"
                                      method="post">
                                    <button type="submit">Undone</button>
                                </form>
                            </td>
                            {% else %}
                            <td>
                                <form action="/task/setDone/{{task.id}}"
                                      method="post">
                                    <button type="submit">Done</button>
                                </form>
                            </td>
                            {% endif %}
                            {% if task.is_important %}
                            <td><a href="#"
                                   onclick="openEditModal({{task.id}}, '{{task.time}}', '{{task.title}}', '{{task.description}}', true)"
                                   class="edit">Edit</a></td>
                            {% else %}
                            <td><a href="#"
                                   onclick="openEditModal({{task.id}}, '{{task.time}}', '{{task.title}}', '{{task.description}}', false)"
                                   class="edit">Edit</a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="todo-style">
    <div class="modal fade" id="editModal" tabindex="-1"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background: #30465D">
                    <h1 class="day fw-bold text-white" id="editModalLabel">
                        Edit Task</h1>
                    <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <form action="/task/edit" method="post">
                    <div class="modal-body">
                        <input type="hidden" value="{{datestr}}"
                               name="datestr">
                        <input type="hidden" value="" name="task_id"
                               id="editTaskId">
                        <label for="customerTime2">Select
                            Hour:<em>&#x2a;</em></label>
                        <input id="customerTime2" name="timestr" required=""
                               type="time">
                        <label for="customerTitle2">Title:<em>&#x2a;</em></label>
                        <input id="customerTitle2" name="title" required=""
                               type="text" maxlength="10">
                        <textarea placeholder="Description:"
                                  id="customerDescrip2" name="description"
                                  required="" type="text"></textarea>
                        <label>Is important?</label>
                        <input id="isImportant2" name="is_important"
                               type="checkbox">
                    </div>
                    <div class="modal-footer">
                        <button class="sub-button" type="submit" value="Submit"
                        >Save
                        </button>
                        <button class="del-button" type="button"
                                onclick="deleteModal()"
                        >Delete
                        </button>
                    </div>
                </form>
                <form action="/task/delete" method="post" id="deleteTaskForm">
                    <input type="hidden" id="deleteTaskId" name="taskId">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="schedule">
    <div class="container times bg-primeary position">
        {% if view == 'day'%}
        {% for hour in range(24)%}
        <div class="row bg-transparent hourmark">
            {% set hour = hour|string() %}
            {{hour.zfill(2)}}:00
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="eventgrid">
        {% for event, attr in events %}
        <div id="event{{event.id}}"
             class="text-truncate px-2 d-flex flex-column justify-content-evenly event"
             style="background-color: {{attr.color}}; grid-row: {{attr.grid_position}}; max-hight:1.5rem;">
            <p class="text-truncate my-0 {{ attr.title_size_class }}">{{
                event.title }}</p>
            {% if attr.total_time_visible %}
            <p class="total-time text-truncate fw-light my-0">
                {{attr.total_time}}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="container baselines bg-transparent">
        {% for i in range(25)%}
        <div class="hourbar {{i}} row text-white border-bottom">---</div>
        {% endfor %}
    </div>
    <div class="actiongrid">

        {% for event, attr in events %}
        <div class="d-flex flex-row justify-content-around align-items-end action-continer"
             style="grid-row: {{attr.grid_position}};">
            <a href="/edit/{{event.id}}" title="Edit event"
               class="action-icon"><img class="pb-1"
                                        src="{{ url_for('static', path='/images/icons/pencil.svg')}}"
                                        width="15em" height="15em"></a>
            <a href="/delete/{{event.id}}" title="Delete event"
               class="action-icon"><img class="pb-1"
                                        src="{{ url_for('static', path='/images/icons/trash-can.svg')}}"
                                        width="15em" height="15em"></a>
        </div>
        {% endfor %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>