{% extends "partials/base.html" %}
{% block body %}
<div id="day-view">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/dayview.css') }}">
    <div id="toptab" class="d-flex justify-content-around align-items-center sticky-top">
        <a href="/closethedayview" title="close day view"><img class="pb-1"
                                                               src="{{ url_for('static', path='/images/icons/close_sidebar.svg')}}"
                                                               width="15em" height="15em"></a>
        <span class="month-title fw-bold text-white">{{month}}</span>
        <span class="day-title fw-bold text-white">{{day}}</span>
        {% if zodiac %}
        <div class="zodiac-sign">
            <a href="https://www.horoscope.com/zodiac-signs/{{zodiac.name}}" title="Zodiac-sign: {{zodiac.name}}"
               target="_blank"><img src="{{ url_for('static', path='/images/zodiac/' + zodiac.name + '.svg') }}"
                                    alt="zodiac sign" width="14em" height="13em"></a>
        </div>
        {% endif %}
    </div>
    <div class="schedule">
        <div class="container times bg-primeary position">
            {% for i in range(25)%}
            <div class='hour-block'>
                <div class="row bg-transparent hourmark">
                    {% set i = i|string() %}
                    {{i.zfill(2)}}:00
                </div>
                <div class="hourbar {{i}} row text-white border-bottom"></div>
            </div>
            {% endfor %}
        </div>
        <div class="eventgrid">
            {% for event, attr in events %}
                {% set totaltime = 'visible'%}
                {% if attr.length < 60 %}
                    {% set size = 'title_size_small' %}
                    {% set totaltime = 'invisible'%}
                    {% if attr.length < 45 %}
                        {% set size = 'title_size_Xsmall' %}
                        {% if attr.length < 30 %}
                            {% set size = 'title_size_tiny' %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            <div id="event{{event.id}}" class="d-flex flex-column text-truncate px-5 event"
                 style="background-color: {{attr.color}}; grid-row: {{attr.grid_position}}; max-hight:1.5rem;">
                <div class="d-flex flex-column justify-content-evenly event-details">
                    <p class="text-truncate my-0 {{size}}">{{ event.title }}</p>
                    {% if totaltime == 'visible' %}
                    <p class="total-time text-truncate fw-light my-0">{{attr.total_time}}</p>
                    {% endif %}
                </div>
                <div class="d-flex flex-row justify-content-around align-items-end action-container"
                     style="grid-row: {{attr.grid_position}};">
                    <a href="/edit/{{event.id}}" title="Edit event" class="action-icon"><img class="pb-1"
                                                                                             src="{{ url_for('static', path='/images/icons/pencil.svg')}}"
                                                                                             width="15em" height="15em"></a>
                    <a href="/delete/{{event.id}}" title="Delete event" class="action-icon"><img class="pb-1"
                                                                                                 src="{{ url_for('static', path='/images/icons/trash-can.svg')}}"
                                                                                                 width="15em"
                                                                                                 height="15em"></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}