{% extends "base.html" %}


{% block content %}

    <div class="container mt-4">
        <div class="row">
            <!-- Right side -->
            <div class="col-5">
                <!-- Exercise -->
                {% if user.is_active_exercise %}
                    <div class="exercise">
                        <iframe src="{{ url_for('static', path=exercise) }}" width="250%" height="1000" seamless></iframe>
                        <!--<img src="{{ url_for('static', path=exercise) }}" alt="exercise image" width="270%" height="200%"> -->
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}