{% extends "base.html" %}

{% block content %}
<div class="d-flex position-relative">
  <div class="container mx-auto gap-3">
    <h2 id="favorite-quotes">Favorite Quotes</h2>
    {% for quote in quotes %}
      <p id="p-quote"><cite><q id="quote">{{ quote.text }}</q></cite>
      {% if quote.author %}
        <span id="author" style="font-size: small;">&nbsp; \ {{ quote.author }}
      {% else %}
        <span>&nbsp;
      {% endif %}
        <img src="{{full_heart}}" class="heart favorites">
      </span>
      </p>
    {% endfor %}
  </div>
</div>
{% endblock %}
