{% extends "base.html" %}

{% block content %}
<div class="d-flex position-relative">
  <div class="container mx-auto gap-3">
    <h2 id="favorite-quotes">Favorite Quotes</h2>
    {% for quote in quotes %}
      {% if not quote.author %}
        <p><i>"{{ quote.text }}"</i></p>
      {% else %}
        <p id="p_quote"><i id="quote">"{{ quote.text }}"</i> <span id="author" style="font-size: small;">&nbsp; \ {{ quote.author }}
        {% if quote.is_favorite %} 
            <img src="../media/full_heart.png" class="heart favorites">
        {% else %}
            <img src="../media/empty_heart.png" class="heart favorites">
        {% endif %}
            </span>
        </p>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}