{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="reset-password">Please verify your Username and Email:</div>
        {% if message %}
            <div class="alert alert-danger">{{ message }}</div>
        {% endif %}
        <form method="post">
            <div class="row">
                <label for="username" class="col-sm-2 col-form-label">Username</label>
                <div class="col-auto">
                    <input type="text" class="form-control" name="username" id="username" autofocus><br>
                </div>
            </div>
            <div class="row">
                <label for="emil" class="col-sm-2 col-form-label">Email</label>
                <div class="col-auto">
                    <input type="text" class="form-control" name="email" id="email"><br>
                </div>
                <div class="col-auto">
                    <span id="password-help-inline" class="form-text">
                        Must be the email address you registered with
                    </span>
                </div>
            </div>
            <input type="submit" class="btn-sm btn btn-outline-primary" value="Send me email">
        </form>

    </div>

{% endblock %}
