{% extends "base.html" %}

{% block title %} - 404{% endblock %}

{% block content %}

<div class="container">
    <h2 class="fs-1 main-text-color">
        Not implemented</h2>
</div>

{% endblock %}