{% extends "base.html" %}

{% block title %} - 404{% endblock %}

{% block content %}

<div class="container">
    <h2 class="text-4xl tracking-tight leading-10 font-extrabold text-purple-900 
        sm:text-5xl sm:leading-none md:text-6xl">
        Not implemented</h2>
</div>

{% endblock %}