<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>PyLendar global var test</title>

</head>

<body>

    <div>
        <ul>
            {% if user %}
            <li>
                <a href="#"> Profile </a>
            </li>
            <li>
                <a href="#"> Sign Out </a>
            </li>
            <li>
                <a href="#"> Agenda </a>
            </li>
            <li>
                <a href="#"> Invitations </a>
            </li>
            {% endif %}

            {% if not user %}
            <li>
                <a href="#"> Sign In </a>
            </li>
            <li>
                <a href="#"> Sign Up </a>
            </li>
            {% endif %}

            <li>
                <a href="#">Search</a>
            </li>

        </ul>
    </div>

    {% if user %}
        <h2>username: {{ user }}</h2>
    {% endif %}

</body>
</html>