{% extends "partials/index/index_base.html" %}

{% block content %}

  <!-- I chose to add the quote day to the home page until the relavent calendar view will be developed.  -->
  <div class="container mt-4">
    {% if quote %}
      {% if not quote.author %}
        <p><i>"{{ quote.text }}"</i></p>
      {% else %}
      <p><i id="quote">"{{ quote.text }}"</i> <span id="author" style="font-size: small;">&nbsp; \ {{ quote.author }}
        {% if quote.is_favorite %} 
          <img src="../media/full_heart.png" class="heart"></span>
        {% else %}
          <img src="../media/empty_heart.png" class="heart"></span>
        {% endif %}
      </p>
      {% endif %}
    {% endif %}
  </div>

{% endblock %}