{% extends "base.html" %}

{% block content %}

<div class="mx-auto">
    <main class="d-flex justify-content-center">
        <div>
            <h2 class="fs-1 fw-bold">
                PyLendar
                <br>
            </h2>
            <p>
                Open Source Calendar built with Python
            </p>
            <div class="d-flex position-relative">
                <div class="container mx-auto gap-3">

                    {% if quote %}
                    {% if not quote.author%}
                    <p><i>"{{ quote.text }}"</i></p>
                    {% else %}
                    <p><i>"{{ quote.text }}"</i> <span style="font-size: small;">&nbsp; \ {{quote.author}}</span>
                    </p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <div class="d-flex justify-content-center">
                    <a href="{{ url_for('calendar') }}"
                        class="btn btn-lg btn-primary shadow-lg bg-body p-3 mb-5 bg-gradient2 landing-page-button"
                        type="button">
                        <span>Get Started</span>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <div>
        <img class="d-block w-100" src="{{ url_for('static', path='/images/calendar.jpg') }}" alt="calendar image">
    </div>
</div>

{% endblock %}