{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h3>Login</h3>
        <small id="registerSuccessful">You successfully registered!</small>
        <form id="loginForm", method="">
            <div class="row">
                <label for="username" class="col-sm-2 col-form-label">Email</label>
                <div class="col-auto">
                    <input type="text" class="form-control" name="username" id="username" autofocus><br>
                </div>
            </div>
            <div class="row">
                <label for="password" class="col-sm-2 col-form-label">Password</label>
                <div class="col-auto">
                    <input type="password" class="form-control" name="password" id="password"><br>
                </div>
            </div>
            <input type="submit" class="btn-sm btn btn-outline-primary" value="Log In">
        </form>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='/login.js') }}"></script>
{% endblock %}