{% extends "./partials/notification/base.html" %}
{% block page_name %}{{ gettext("Notifications") }}{% endblock page_name %}

{% block description %}
  <div class="title">{{ gettext("New notifications") }}</div>
{% endblock description %}

{% block optional %}
    <form action="{{ url_for("mark_all_as_read") }}" method="post">
        <input type="hidden" name="next_url" value="/notification">
        <button type="submit" class="btn btn-light btn-outline-primary btn-sm"
        {% if not new_messages %}disabled{% endif %} id="mark-all-as-read">
          {{ gettext("Mark all as read") }}
        </button>
    </form>
{% endblock optional %}

{% block notifications %}
    {% include "./partials/notification/generate_notifications.html" %}
{% endblock notifications %}

{% block no_notifications_msg %}
    <span>{{ gettext("You don't have any new notifications.") }}</span>
{% endblock no_notifications_msg %}
