{% extends "./partials/base.html" %}
{% block head %}
  {{super()}}

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/grid_style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/notification.css') }}" >

{% endblock head %}
{% block page_name %}Month View{% endblock page_name %}
{% block body %}
  <div class="pyldr-container">
    {% include 'partials/calendar/navigation.html' %}
    <div id="feature-settings">
      {% include 'partials/calendar/feature_settings/example.html' %}
    </div>
    <div class="content">
      {% block content %}
        <header>
            <div>
                <div class="title">Historical Notifications</div>
                <p class="s-paragraph">
                    You can use the <button class="notification-btn btn-accept"><ion-icon class="icon" name="checkmark-outline"></ion-icon></button>
                    button to accept an invitation that you al ready declined.
                </p>
            </div>
            <div id="logo-div">
                <a href="/calendar/month">
                    <span class="title">PYLENDAR</span>
                </a>
            </div>
        </header>
        <div id="main">
            <div><a href="{{ url_for('view_notifications') }}">New notifications</a></div>
            {% if notifications %}
            <div id="notifications-box">
                <div id="notifications">
                    {% for n in notifications %}
                        {% set type = n.__table__.name %}

                        <div class="notification" id="{{ loop.index }}">
                            {% if type == "invitations" %}
                                <div class="description">
                                    <span>Invitation from {{ n.event.owner.username }} - </span>
                                    <a href="#">{{ n.event.title }}</a>
                                    <span>(declined)</span>
                                </div>
                                <div class="action">
                                    <form action="{{ url_for('accept_invitations') }}" method="post"
                                      class="notification-form">
                                        <input type="hidden" name="next" value="/notification/history">
                                        <button type="submit" name="invite_id" value="{{ n.id }}" class="notification-btn btn-accept">
                                            <ion-icon class="icon" name="checkmark-outline"></ion-icon>
                                        </button>
                                    </form>
                                </div>

                            {% elif type == "messages" %}
                                <div class="description">
                                    {% if n.link %}<a href="{{ n.link }}">{{ n.body }}</a>
                                    {% else %}<span>{{ n.body }}</span>{% endif %}
                                </div>
                            {% endif %}

                        </div>
                    {% endfor %}
                </div>

            {% else %}
                <span>You don't have any new notifications.</span>
            </div>
            {% endif %}
        </div>
      {% endblock content %}
    </div>
  </div>

  <!-- Scripts -->
  <script src="{{ url_for('static', path='/js/grid_scripts.js') }}"></script>
  <script src="{{ url_for('static', path='/js/grid_navigation.js') }}"></script>
{% endblock body %}