{% extends "base.html" %}
{% include "partials/calendar/event/text_editor_partial_head.html" %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <!-- Left side -->
    {% include 'partials/user_profile/sidebar_left.html' %}

    <!-- Center -->
    {% include 'partials/user_profile/middle_content.html' %}

    <!-- Right side -->
    {% include 'partials/user_profile/sidebar_right.html' %}

  </div>
</div>
{% include "partials/calendar/event/text_editor_partial_body.html" %}
{% endblock content %}
