{% extends "./partials/base.html" %}
{% block head %}
  {{ super() }}

  <!-- CSS -->
  <link href="{{ url_for('static', path='/grid_style.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', path='/settings_style.css') }}" rel="stylesheet" type="text/css">


{% endblock head %}
{% block page_name %}Month View{% endblock page_name %}
{% block body %}
  <div class="pyldr-container">
    {% include 'partials/calendar/navigation.html' %}
    <div class="background-lightgray" id="feature-settings">
      {% include 'partials/calendar/feature_settings/example.html' %}
    </div>
    <div class="content">
      {% block content %}
        <header>
          <div>
              <div class="title">SETTINGS</div>
              <p class="s-paragraph sub-title">Change your preferences</p>
          </div>
          <div id="logo-div">
              <a href="/calendar/month">
                  <span class="title">PYLENDAR</span>
              </a>
          </div>
      </header>
      <main class="settings">
        <div id="settings-left">
          <section class="settings-layout">
            <div class="left-options-bar">
              <div class="settings-options">
                <ul id="options">
                  <li class="tab"><a id="tab0" class="active">
                    Language and region
                  </a></li>
                  <li class="tab"><a id="tab1">
                    Audio settings
                  </a></li>
                  <li class="tab"><a id="tab2">
                    View options
                  </a></li>
                  <li class="tab"><a id="tab3">
                    Keyboard shortcuts
                  </a></li>
                  <li class="tab"><a id="tab4">
                    Event settings
                  </a></li>
                </ul>
              </div>
            </div>
          </section>
        </div>

        <div id="settings-main" class="settings-main">
          <!-- Language and region -->
          <article id="tab0-content" class="tabShow">
            <h2>Language and region</h2>
            <p>Language</p>
            <select class="form-select form-select-sm" id="select-form-settings" aria-label=".form-select-sm example">
              <option value="1">English (US)</option>
              <option value="2">Hebrew</option>
            </select>
            <p>Country</p>
            <select class="form-select form-select-sm" id="select-form-settings" aria-label=".form-select-sm example">
              <option value="1">Israel</option>
              <option value="2">United States</option>
            </select>
            <p>Date format</p>
            <select class="form-select form-select-sm" id="select-form-settings" aria-label=".form-select-sm example">
              <option value="1">DD/MM/YYYY</option>
              <option value="2">MM/DD/YYYY</option>
              <option value="3">YYYY/MM/DD</option>
            </select>
            <p>Time format</p>
            <select class="form-select form-select-sm" id="select-form-settings" aria-label=".form-select-sm example">
              <option value="1">24H</option>
              <option value="2">12H</option>
            </select>
          </article>
          <!-- Audio settings -->
          <article id="tab1-content" class="tabHide">
            <h2>Audio settings</h2>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
              <label class="form-check-label" for="flexSwitchCheckDefault">Music</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">Sound Effects</label>
            </div>
          </article>
          <!-- View options -->
          <article id="tab2-content" class="tabHide">
            <h2>View options</h2>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="view-tick1">
              <label class="form-check-label" for="view-tick1">
                Show declined events
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="view-tick2" checked>
              <label class="form-check-label" for="view-tick2">
                Show week numbers
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="view-tick3" checked>
              <label class="form-check-label" for="view-tick3">
                View calendars side by side in day view
              </label>
            </div>
          </article>
          <article id="tab3-content" class="tabHide"></article>
          <article id="tab4-content" class="tabHide"></article>
        </div>
      </main>
    </div>
  </div>

<!-- Script -->
<script src="{{ url_for('static', path='/js/settings.js') }}"></script>
{% endblock content %}
{% endblock body %}
