<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="styles.css">
    <title>Daily tasks</title>
</head>
<body>
    <div class="form-style" id="table">
		<h1>Todo-List</h1>
    <table>
			<thead>
                <th>Time</th>
				<th>Task</th>
				<th>Description</th>
			</thead>
			<tbody>
				{% for task in tasks %}
                {% if task.is_important %}
					<tr style="border-bottom: 5px solid blue">
						<td>{{task.time}}</td>
						<td>{{task.title}}</td>
						<td>{{task.description}}</td>
						<td><a href="/userForm/{{user.any_id}}" class="edit">Edit</a></td>
					</tr>
				{% endif %}
				{% else %}
					<tr>
						<td>{{task.time}}</td>
						<td>{{task.title}}</td>
						<td>{{task.description}}</td>
						<td><a href="/userForm/{{user.any_id}}" class="edit">Edit</a></td>
					</tr>
				{% endelse %}
				{% endfor %}
			</tbody>
		</table>
</body>
</html>