<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Todo-List</title>
</head>
<body>
    <div class="form-style">
        <h1>Add Task</h1>
        {% if model.any_id is defined %}
           <form action="/deleteUser/{{ model.any_id }}" method="POST">
               <button type="submit">Delete</button>
           </form>
        {% endif %}
        <form>
            <label for="customerDate">The Date:</label>
            <input id="customerDate" name="date" required="" type="date" value="{{ model.date }}">
            <label for="customerDate">Select Hour:</label>
            <input id="customerTime" name="time" required="" type="time" value="{{ model.time }}">
            <label for="customerTitle">Title:</label>
            <input id="customerTitle" name="title" required="" type="text" maxlength="10" value="{{ model.title }}">
            <textarea  placeholder="Description:" id="customerDescrip" name="descrip" required="" type="text" value="{{ model.description }}"></textarea>
            <label>Is important?</label>
            <input id="isImportant" name="important" type="checkbox" value="{{ model.submit }}">
            <button type="submit" value="Submit">Submit</button>
        </form>
    </div>
</body>
</html>
