<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', path='/weekview.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Assistant&family=Open+Sans&family=Roboto&family=Roboto+Condensed&display=swap" rel="stylesheet">
        <title>weekview</title>
    </head>
    <body>
        <div id="week-view">
            <div id="week-schedule" class="d-flex justify-content-evenly">
                {% for day, dayview in week %}
                    <div class="day m-0 flex-fill">
                        <div class="day-name sticky-top">{{ day.strftime('%A').upper()[:3] }}</div>
                        <div>{% include dayview.template %}</div>
                    </div>
                {% endfor %}
            </div>
            <div id="hoursgrid" class="container">
                <div class="row hour-top sticky-top bg-white">T</div>
                {% for i in range(24)%}
                <span class="row bg-transparent hourmark">
                    {% set i = i|string() %}
                    {{i.zfill(2)}}:00
                </span>
                {% endfor %}
            </div>
        </div>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </body>
</html>